appliances-page {

  ion-toolbar {
    border-top: 1px solid #77881b;
    border-bottom: 1px solid #1f1e1a;
    background: -moz-linear-gradient(top, rgba(117, 137, 12, 0.5) 0%, #0f0e0a 100%);
    background: -webkit-linear-gradient(top, rgba(117, 137, 12, 0.5) 0%,#0f0e0a 100%);
    background: linear-gradient(to bottom, rgba(117, 137, 12, 0.5) 0%,#0f0e0a 100%);

    .toolbar-background {
      background: rgba(117, 137, 12, 0.5) url("../../assets/images/noise.png") repeat;
    }

    .toolbar-content {
      margin: 3px;
    }

    button {
      color: #d8d3c5 !important;
      font-size: 2.4rem !important;
      text-shadow: -1px -1px 1px #3f3e3a, 1px -1px 1px #3f3e3a, -1px 1px 0 #3f3e3a, 1px 1px 0 #3f3e3a;
      margin: 0  !important;
    }
  }

  .searchbar-input {
    background-color: rgba(0, 0, 0, 0.3) !important;
    border-radius: 0 !important;
    padding: 6px 60px !important;
    color: #fafafa !important;
  }

  ion-searchbar {
    padding: 0 !important;
    padding-bottom: 3px !important;
    border: 1px solid #6b7b28;
    box-shadow: inset 0 0 22px 0 rgba(#0f0e0a, 0.4);
  }

  ion-searchbar button {
    color: #d8d3c5;
    font-size: 2.2rem;
  }

  .toolbar-md-primary .bar-button-clear-md, .toolbar-md-primary .bar-button-default-md, .toolbar-md-primary .bar-button-outline-md, .toolbar-md-primary .toolbar-title-md {
    color: #2f2e2a;
    font-size: 1.8em;
    height: 42px;
    width: 42px;
    margin-left: 3px;
  }

  .appliances-list {

    ion-label {
      margin: 8px 8px 8px 0;
      background: #1f1e1aurl("../../assets/images/stripes.svg") repeat;
      border: 1px solid #3f3e3a;
      box-shadow: inset 0 0 24px 0 #000, 0 0 7px 0 rgba(0,0,0,0.4);

      h2 {
        margin-top: 0;
        margin-bottom: 0;
        width: 100%;
        padding: 5px;
        background: rgba(23, 21, 13, 0.8);
        border-bottom: 1px solid #2f2e2a;
      }

      table {
        margin-left: 2px;
        font-size: 0.7rem;
        color: #9f9e9a;
        text-shadow: -1px 0 #000, 0 1px #000, 1px 0 #000, 0 -1px #000, 0 0 10px #000;
        td {
          padding: 2px;
          border-right: 1px solid #1f1e1a;

          ion-icon::before {
            color: rgba(117, 137, 12, 0.75);
          }
        }
      }
    }

    .list-md ion-item-options .button {
      width: 55px;
      height: 100%;
      margin: 0;
      border-left: 1px solid #1f1e1a;
    }

    ion-item-sliding.item-wrapper.active .item {
      border-top: 1px solid #4f4e4a;
    }

    .active {

      .item {
        background-color: #3f3e3a;
      }

      ion-label {
        box-shadow: inset 0 0 24px 0 #000, 0 0 16px 0 rgba(#9f9e9a,0.2);
        border: 1px solid #5f5e5a;
      }
    }

    .item-md ion-icon[item-left] {
      font-size: 1.6em;
    }

    .list-md > .item-wrapper:last-child ion-label {
      border-bottom: 1px solid #3f3e3a;
    }

  }

}

/******************************************************************************/

appliance-detail-page {

  ion-toolbar {
    border-top: 1px solid #77881b;
    border-bottom: 1px solid #1f1e1a;
    background: -moz-linear-gradient(top, rgba(117, 137, 12, 0.5) 0%, #0f0e0a 100%);
    background: -webkit-linear-gradient(top, rgba(117, 137, 12, 0.5) 0%,#0f0e0a 100%);
    background: linear-gradient(to bottom, rgba(117, 137, 12, 0.5) 0%,#0f0e0a 100%);

    .toolbar-background {
      background: rgba(117, 137, 12, 0.5) url("../../assets/images/noise.png") repeat;
    }

    .toolbar-content {
      margin: 3px;
    }

    div {
      display: inline-block;
      width: 49%;
    }

    button {
      color: #d8d3c5 !important;
      font-size: 2.4rem !important;
      text-shadow: -1px -1px 1px #3f3e3a, 1px -1px 1px #3f3e3a, -1px 1px 0 #3f3e3a, 1px 1px 0 #3f3e3a;
      margin: 0  !important;
    }
  }

  .ion-segment-container {
    border-top: 1px solid #2f2e2a;
    background: #2f2e2a;
    background: -moz-linear-gradient(top, #2f2e2a 0%, #1f1e1a 100%);
    background: -webkit-linear-gradient(top, #2f2e2a 0%,#1f1e1a 100%);
    background: linear-gradient(to bottom, #2f2e2a 0%,#1f1e1a 100%);
  }

  ion-segment {
    background: rgba(10, 9, 6, 0.2) url("../../assets/images/noise.png") repeat;
    height: 50px;
  }

  .segment-md .segment-button {
    height: 50px;
    line-height: 48px;
    border: 0;
    border-bottom-width: 2px;
    border-bottom-style: solid;
    border-color: transparent;
    text-transform: none !important;
    font-size: 1.6rem;

    ion-icon {
      line-height: 48px;
    }

    span {
      display: inline-block;
      line-height: 48px;
      position: relative;
      left: 5px;
      top: -3px;
    }
  }

  .segment-activated {
    opacity: 1;
    color: #d8d3c5 !important;
    font-size: 1.8rem !important;
    text-shadow: -1px -1px 1px #1f1e1a, 1px -1px 1px #1f1e1a, -1px 1px 0 #1f1e1a, 1px 1px 0 #1f1e1a;
    border-bottom-width: 2px;
    border-bottom-style: solid;
  }


  .settings-list {

    ion-label {
      color: #d8d3c5 !important;
    }

    .item-inner {
      border-bottom: 0 !important;
      box-shadow: none !important;
    }

    .text-input {
      text-align: right;
      color: rgb(117, 137, 12);
    }

    .select-text {
      color: rgb(117, 137, 12);
    }

    .select-icon {
      display: none;
    }

  }

  .section-list {

    height: 100%;
    margin-bottom: 0;
    //padding-left: 50px;

    ion-item {
      height: calc(100% / 3);
    }

    .section-title-outer {
      display: inline-block;
      font-size: 13px;
      font-color: #878787;
      position: absolute;
      top: 50%;
      left: 0%;
      width: 50px;
    }

    .section-title-inner {
      font-size: 13px;
      font-color: #878787;
      position: absolute;
      top: 50%;
      left: 50%;
    }

    button {
      width: 32px;
    }

    .rotate {
      -moz-transform: translateX(-50%) translateY(-50%) rotate(-90deg);
      -webkit-transform: translateX(-50%) translateY(-50%) rotate(-90deg);
      transform:  translateX(-50%) translateY(-50%) rotate(-90deg);
      text-shadow: -1px -1px 1px #0f0e0a, 1px -1px 1px #0f0e0a, -1px 1px 0 #0f0e0a, 1px 1px 0 #0f0e0a;
      font-size: 2rem;
      padding-top: 10px;
    }

    .item-inner {
      border-bottom: 0 !important;
      box-shadow: none !important;
    }

    ion-grid {
      padding-left: 42px;
    }

    ion-row {
      margin: 8px 8px 8px 0;
      background: #1f1e1aurl("../../assets/images/stripes.svg") repeat;
      border: 1px solid #3f3e3a;
      box-shadow: inset 0 0 24px 0 #000, 0 0 7px 0 rgba(0,0,0,0.4);
    }

    ion-col {
      min-height: 100px;
      background-color: rgba(117, 137, 12, 0.5);
      white-space: normal !important;
      border: 1px solid #0f0e0a;
      text-align: center;
      align-items: center;
      justify-content: center;
      margin: 5px 5px 5px 0px;

      ion-icon::before {
        font-size: 3rem !important;
        padding: 3px;
      }

    }

    ion-col:first-child {
      margin-left: 5px;
    }

    .plugin-title {
      overflow:hidden;
      white-space: normal;
      text-overflow: ellipsis;
      display: flex;
      width: 100%;
      text-align: center;
      justify-content: center;
    }

    .button-inner ion-icon.icon.icon-md.ion-md-add {
      width: 100%;
    }

  }

  @media (max-width: 480px) {
    .plugin-title {
      display: none !important;
    }
  }

}

/******************************************************************************/

appliance-detail-addplugin {

  ion-header {
    ion-title {
      line-height: 50px;
      .icon {
         margin-right: 8px !important;
      }
    }
  }

  ion-toolbar {
    border-top: 1px solid #77881b;
    border-bottom: 1px solid #1f1e1a;
    background: -moz-linear-gradient(top, rgba(117, 137, 12, 0.5) 0%, #0f0e0a 100%);
    background: -webkit-linear-gradient(top, rgba(117, 137, 12, 0.5) 0%,#0f0e0a 100%);
    background: linear-gradient(to bottom, rgba(117, 137, 12, 0.5) 0%,#0f0e0a 100%);
    padding: 2px !important;

    .toolbar-background {
      background: rgba(117, 137, 12, 0.5) url("../../assets/images/noise.png") repeat;
    }

    .searchbar-input {
      background-color: rgba(0, 0, 0, 0.3) !important;
      border-radius: 0 !important;
      padding: 6px 50px !important;
      color: #fafafa !important;

    }

    ion-searchbar {
      padding: 0 !important;
      padding-bottom: 3px !important;
      border: 1px solid #6b7b28;
      box-shadow: inset 0 0 22px 0 rgba(#0f0e0a, 0.4);
    }

    ion-searchbar button {
      color: #d8d3c5;
      font-size: 2.2rem;
    }

    ion-select {
      font-size: 1.7rem;
      max-width: initial;
      color: #d8d3c5;
      font-size: 1.5rem;
      text-shadow: 0 1px 1px #000;
      border: 1px solid #6b7b28;
      background: rgba(#1f1e1a, 0.9) url("../../assets/images/noise.png") repeat;

      .select-placeholder {
        color: #d8d3c5;
      }

      .select-icon-inner {
        color: #d8d3c5 !important;
      }
    }
  }


  ion-grid {

    ion-col {
      padding: 4px;
    }

    ion-select {
      // Fix width of ion-select in ion-grid
      max-width: 100%;
      // Fix select button width to keep grid containment and searchbar accessible
      .item-cover {
        width: inherit;
      }
      // Fix select icon position
      .select-icon-inner {
        left: -8px !important;
      }
    }
  }

  .list {
    margin: 0;

    .item {

      button {
        height: 32px;
        width: 32px;
        margin: 10px 6px 11px 0;
        padding: 0;
        border-radius: 0;
        ion-icon {
          font-size: 2.2rem;
        }
      }
    }

  }

}

/******************************************************************************/

appliance-detail-editplugin {

  ion-header {
    ion-title {
      line-height: 50px;
      .icon {
         margin-right: 8px !important;
      }
    }
  }

  ion-toolbar {
    border-top: 1px solid #2f2e2a;
    border-bottom: 1px solid #0f0e0a;
    background: -moz-linear-gradient(top, rgba(44, 43, 36, 0.5) 0%, #0f0e0a 100%);
    background: -webkit-linear-gradient(top, rgba(44, 43, 36, 0.5) 0%,#0f0e0a 100%);
    background: linear-gradient(to bottom, rgba(44, 43, 36, 0.5) 0%,#0f0e0a 100%);
    min-height: 48px !important;
    padding: 0 !important;

    .toolbar-background {
      background: rgba(34, 33, 26, 0.5) url("../../assets/images/noise.png") repeat;
    }

    .mini-bar {
      .minibar-button-txt {
        padding-left: 5px;
        text-transform: none;
      }

      ion-col {
        padding:0;
        margin-right: 5px;
      }
    }

  }

  .plugin-info {
    border-top: 1px solid #2f2e2a;
    border-bottom: 1px solid #0f0e0a;
    background: #1f1e1a;
    padding: 10px;
    padding-left: 20px;
    text-shadow: -1px 0 #000, 0 1px #000, 1px 0 #000, 0 -1px #000, 0 0 15px #000;

    h2, p {
      margin: 0;
    }

    h2 {
      font-size: 2rem;
    }

    p {
      padding-top: 3px;
      color: #fafafa;
    }

  }

  .list {
    margin: 0;

    .item {

      button {
        height: 32px;
        margin: 10px 6px 11px 0;
        padding: 0;
        border-radius: 0;
        ion-icon {
          font-size: 2.2rem;
        }
      }

    }

    ion-label {
      color: #d8d3c5;
    }

    .text-input {
      text-align: right;
      color: rgb(117, 137, 12);
      margin: 0;
    }

    .item-input:last-child {
        border-bottom: 1px solid #0f0e0a;
    }

    input {
      text-align: right;
      font-size: 20px;
      height: 36px;
      padding-right: 6px;
    }

    input:focus {
      background: #1f1e1a;
      border: 1px solid rgba(117, 137, 12, 0.5);
      box-shadow: inset 0 0 42px 0 #0f0e0a, 0 0 16px 0 rgba(117, 137, 12, 0.3);
    }

    .select-text {
      color: rgb(117, 137, 12);
    }

    .select-icon {
      display: none;
    }

  }

  .cv-container {
    background: #2f2e2aurl("../../assets/images/stripes.svg") repeat;
    height: 100%;
    box-shadow: inset 0 0 42px 0 #000;
    .connectionVisualizer {

    }
  }


}
