<ion-header>
  <ion-navbar dark>
    <ion-title>Add new {{type}} plugin</ion-title>
    <ion-buttons end>
      <button ion-button icon-only color="primary" (click)="dismissModal()">
        <ion-icon name="close"></ion-icon>
      </button>
    </ion-buttons>
  </ion-navbar>

  <ion-toolbar>
    <ion-grid>
      <ion-row>
        <ion-col>
    <ion-searchbar (ionInput)="filterPluginsByName($event)"
                   (ionClear)="clearNameFilter($event)"
                   placeholder="{{ 'FILTER' | translate }}"
                   autocorrect="off">
    </ion-searchbar>
  </ion-col>
  <ion-col>
    <ion-select [(ngModel)]="groupFilter"
                (ngModelChange)="filterPluginsByGroup($event)"
                class="rb-glass"
                placeholder="All"
                [selectOptions]="{ title: 'Filter by Group', subTitle: 'Please select a Group'}"
                cancelText="Cancel"
                okText="Select">
      <ion-option value="" selected="true">All Groups</ion-option>
      <ion-option *ngFor="let group of groups">{{group}}</ion-option>
    </ion-select>
  </ion-col>
</ion-row>
</ion-grid>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list *ngIf="plugins?.length > 0">
    <ion-item *ngFor="let plugin of plugins; let p = index">
      {{plugin.name}}
    </ion-item>
  </ion-list>
</ion-content>
