<ion-header>
  <ion-navbar dark>
    <ion-title>
      <ion-icon name="logo-buffer"></ion-icon>
      Add {{ type }} plugins
    </ion-title>
    <ion-buttons end>
      <button ion-button icon-only color="primary" (click)="dismissModal()">
        <ion-icon name="close"></ion-icon>
      </button>
    </ion-buttons>
  </ion-navbar>

  <ion-toolbar>
    <ion-grid no-padding>
      <ion-row>
        <ion-col width-50>
          <ion-searchbar (ionInput)="filterPluginsByName($event)"
                         (ionClear)="clearNameFilter($event)"
                         placeholder="{{ 'FILTER' | translate }}"
                         autocorrect="off">
          </ion-searchbar>
        </ion-col>
        <ion-col width-50 style="padding-left: 2px">
          <ion-select [(ngModel)]="groupFilter"
                      (ngModelChange)="filterPluginsByGroup()"
                      [selectOptions]="{ title: 'FILTER-BY-GROUP' | translate }"
                      interface="action-sheet">
            <ion-option selected="true" value="All">
              {{ 'ALL-GROUPS' | translate }}
            </ion-option>
            <ion-option *ngFor="let group of pluginGroups">
              {{ group }}
            </ion-option>
          </ion-select>
        </ion-col>
      </ion-row>
    </ion-grid>
  </ion-toolbar>

</ion-header>

<ion-content>

  <ion-list *ngIf="filteredPlugins?.length > 0">
    <ion-item *ngFor="let plugin of filteredPlugins">
      {{ plugin.name }}
      <button ion-button item-right class="rb-green">
        <ion-icon name="add"
                  (click)="applianceService.addPlugin(aid, type, plugin)">
        </ion-icon>
      </button>
    </ion-item>
  </ion-list>

</ion-content>
