<ion-header>
  <ion-navbar dark class="task-detail-toolbar">
    <ion-title>{{appliance.name}} {{ 'CONFIGURATION' | translate }}</ion-title>
    <ion-buttons end>
      <button ion-button icon-only color="primary">
        <ion-icon name="logo-buffer"></ion-icon>
      </button>
    </ion-buttons>
  </ion-navbar>

  <div class="ion-segment-container">
    <ion-segment [(ngModel)]="view">
      <ion-segment-button value="settings" (ionSelect)="setAppView('settings')">
        <ion-icon name="settings"></ion-icon>
        <span class="minibar-button-txt">{{ 'SETTINGS' | translate }}</span>
      </ion-segment-button>
      <ion-segment-button value="plugins" (ionSelect)="setAppView('plugins')">
        <ion-icon name="grid"></ion-icon>
        <span class="minibar-button-txt">{{ 'PLUGINS' | translate }}</span>
      </ion-segment-button>
    </ion-segment>
  </div>

</ion-header>

<ion-content class="appliance-detail-page">

  <div [ngSwitch]="view" style="height: 100%">

    <div *ngSwitchCase="'settings'" style="height: 100%">
      <ion-list class="settings-list">
        <ion-item>
          <ion-icon name="logo-buffer" item-left></ion-icon>
          <ion-label><h2>{{ 'NAME' | translate }}</h2></ion-label>
          <ion-input placeholder="192.168.1.66" value="{{appliance.name}}"></ion-input>
        </ion-item>
        <ion-item>
          <ion-icon name="at" item-left></ion-icon>
          <ion-label><h2>Host-Platform</h2></ion-label>
          <ion-select [(ngModel)]="appliance.hid"
                      [selectOptions]="{
                        title: 'Host-Platform',
                        subTitle: 'Pick your board'
                      }">
            <ion-option *ngIf="!appliance.hid" value="">Select a platform</ion-option>
            <ion-option *ngFor="let platform of platforms" [value]="platform.hid">{{platform.name}}</ion-option>
          </ion-select>
        </ion-item>
        <ion-item>
          <ion-icon name="globe" item-left></ion-icon>
          <ion-label><h2>Hostname/IP</h2></ion-label>
          <ion-input placeholder="192.168.1.66"></ion-input>
        </ion-item>
        <ion-item>
          <ion-icon name="videocam" item-left></ion-icon>
          <ion-label>
            <h2>Webcam connected</h2>
            <p>Webcam connected</p>
          </ion-label>
          <ion-toggle></ion-toggle>
        </ion-item>
        <ion-item>
          <ion-icon name="globe" item-left></ion-icon>
          <ion-label><h2>MJPG-Streamer URL</h2></ion-label>
          <ion-input placeholder="192.168.1.66"></ion-input>
        </ion-item>
      </ion-list>
    </div>

    <div *ngSwitchCase="'plugins'" style="height: 100%">
      <ion-list class="section-list">
        <ion-item>
          <div class="section-title-outer">
            <div class="section-title-inner rotate">INPUT</div>
          </div>
          <div class="section-grid">
            <ion-grid>
              <ion-row *ngIf="appliance.plugins.input.length > 0">
                <ion-col *ngFor="let plugin of appliance.plugins.input; let p = index"
                         (click)="popEditPluginModal(appliance.aid, 'input', p)"
                         style="background-color: rgba(191, 128, 6, 0.76);">
                  <ion-icon name="color-fill"></ion-icon>
                  <span class="plugin-title">{{plugin.name}}</span>
                </ion-col>
              </ion-row>
              <ion-row *ngIf="!appliance.plugins.input || appliance.plugins.input.length < 1">
                <ion-col>
                  No Input plugin has been added yet
                </ion-col>
              </ion-row>
            </ion-grid>
            </div>
            <button ion-button item-right>
              <ion-icon name="add" (click)="popAddPluginModal(appliance.aid,'input')"></ion-icon>
            </button>
        </ion-item>
        <ion-item>
          <div class="section-title-outer">
            <div class="section-title-inner rotate">CONTROL</div>
          </div>
            <div class="section-grid">
              <ion-grid>
                <ion-row *ngIf="appliance?.plugins.control.length > 0">
                  <ion-col *ngFor="let plugin of appliance?.plugins.control; let p = index"
                           (click)="popEditPluginModal(appliance.aid, 'control', p)"
                           style="background-color: rgba(91, 228, 6, 0.76);">
                    <ion-icon name="color-fill"></ion-icon>
                    <span class="plugin-title">{{plugin.name}}</span>
                  </ion-col>
                </ion-row>
                <ion-row *ngIf="!appliance.plugins.control || appliance.plugins.control.length < 1">
                  <ion-col>
                    No Contol plugin has been added yet
                  </ion-col>
                </ion-row>
              </ion-grid>
            </div>
            <button ion-button item-right>
              <ion-icon name="add" (click)="popAddPluginModal(appliance.aid,'control')"></ion-icon>
            </button>
        </ion-item>
        <ion-item>
          <div class="section-title-outer">
            <div class="section-title-inner rotate">OUTPUT</div>
          </div>
          <div class="section-grid">
            <ion-grid>
              <ion-row *ngIf="appliance.plugins.output.length > 0">
                <ion-col *ngFor="let plugin of appliance.plugins.output; let p = index"
                         (click)="popEditPluginModal(appliance.aid, 'output', p)"
                         style="background-color: rgba(91, 228, 6, 0.76);">
                  <ion-icon name="color-fill"></ion-icon>
                  <span class="plugin-title">{{plugin.name}}</span>
                </ion-col>
              </ion-row>
              <ion-row *ngIf="!appliance.plugins.output || appliance.plugins.output.length < 1">
                <ion-col>
                  No Output plugin has been added yet
                </ion-col>
              </ion-row>
            </ion-grid>
            </div>
          <button ion-button item-right>
            <ion-icon name="add" (click)="popAddPluginModal(appliance.aid,'output')"></ion-icon>
          </button>
        </ion-item>
      </ion-list>
    </div>

  </div>

</ion-content>
