settings-page {

  .list {
    margin: 0;

    ion-label {
      color: #d8d3c5 !important;
    }

    .select-text {
      color: rgb(117, 137, 12);
    }

    .select-icon {
      display: none;
    }

  }

}
