<ion-header>

  <ion-navbar>
    <button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>Appliance</ion-title>
    <ion-buttons end>
      <button (click)="openHelp()" primary>
        <ion-icon name="help"></ion-icon>
      </button>
    </ion-buttons>
  </ion-navbar>

  <ion-toolbar primary>
    <ion-select [(ngModel)]="appliance.name"
                class="rb-glass"
                placeholder="{{appliance.name}}"
                [alertOptions]="{ title: 'Available Appliances', subTitle: 'Please select an Appliance'}"
                cancelText="Cancel"
                okText="Select"
    >
      <ion-option *ngFor="let task of tasks">{{task.name}}</ion-option>
    </ion-select>
    <ion-buttons end>
      <button>
        <ion-icon name="create"></ion-icon>
      </button>
      <button (click)="createModule()">
        <ion-icon name="add" ></ion-icon>
      </button>
    </ion-buttons>
  </ion-toolbar>

</ion-header>

<ion-content class="appliance">

  <ion-card *ngFor="let module of appliance.modules; let m = index">

    <ion-toolbar>
      <ion-title>
        <ion-icon name="{{module.icon}}" item-left></ion-icon>
        {{module.name}}
      </ion-title>
      <ion-buttons end>
        <button (click)="openMenu(m)">
          <ion-icon name="more"></ion-icon>
        </button>
      </ion-buttons>
    </ion-toolbar>

    <ion-grid>
      <ion-row class="module-assembly">
        <ion-col>Input</ion-col>
        <ion-col width-20 class="ctrl-container">Control</ion-col>
        <ion-col>Output</ion-col>
      </ion-row>

      <ion-row [ngStyle]="{'min-height': '45px'}">

        <ion-col>
          <button full disabled *ngIf="!module.control.name">
            <ion-icon name="lock"></ion-icon>
            No Controller
          </button>
          <button full disabled *ngIf="!module.inputs">
            <ion-icon name="lock"></ion-icon>
            No Input available
          </button>
          <button full
            *ngFor="let input_plug of module.inputs; let i = index"
            (click)="editInputPlug(m,i)"
            [ngStyle]="{'background-color': input_plug.color}">
            <ion-icon name="{{input_plug.icon}}"></ion-icon>
            {{input_plug.name}}
          </button>
        </ion-col>
        <ion-col width-20 class="ctrl-container">
          <button full primary outline
            *ngIf="!module.control.name"
            (click)="doRadio()"
            [ngStyle]="{'height': '100%'}">
            <ion-icon name="add"></ion-icon>
            Add new Controller
          </button>
          <button full primary
            *ngIf="module.control.name"
            [ngStyle]="{'height': '100%'}">
            {{module.control.name}}
          </button>
        </ion-col>
        <ion-col>
          <button full disabled *ngIf="!module.control.name">
            <ion-icon name="lock"></ion-icon>
            No Controller
          </button>
          <button full disabled *ngIf="!module.outputs">
            <ion-icon name="lock"></ion-icon>
            No Output available
          </button>
          <button full
            *ngFor="let output_plug of module.outputs; let i = index"
            (click)="editOutputPlug(m,i)"
            [ngStyle]="{'background-color': output_plug.color}">
            <ion-icon name="{{output_plug.icon}}"></ion-icon>
            {{output_plug.name}}
          </button>
        </ion-col>
      </ion-row>
    </ion-grid>

  </ion-card>

</ion-content>
