appliance-page {

  ion-card {
    background: #2f2e2a url("data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMjgiIGhlaWdodD0iMjgiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgeG1sbnM6eGxpbms9Imh0dHA6Ly93d3cudzMub3JnLzE5OTkveGxpbmsiPjxkZWZzPiA8cGF0dGVybiBpZD0ic3RyaXBlcyIgeD0iMCIgeT0iMCIgd2lkdGg9IjIwIiBoZWlnaHQ9IjIwIiBwYXR0ZXJuVW5pdHM9InVzZXJTcGFjZU9uVXNlIiBwYXR0ZXJuVHJhbnNmb3JtPSJyb3RhdGUoNDUpIj4gPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEwIiBoZWlnaHQ9IjIwIiByeD0iMCIgcnk9IjAiIHN0eWxlPSJzdHJva2U6IG5vbmU7IGZpbGw6ICMyZjJlMmE7Ii8+IDxyZWN0IHg9IjEwIiB5PSIwIiB3aWR0aD0iMTAiIGhlaWdodD0iMjAiIHJ4PSIwIiByeT0iMCIgc3R5bGU9InN0cm9rZTogbm9uZTsgZmlsbDogIzFmMWUxYTsiLz4gPHBhdGggZD0iTTIwLDAgTDIwLDIwIiBzdHlsZT0ic3Ryb2tlOiM1ZjVlNWE7IHN0cm9rZS13aWR0aDogMXB4OyBmaWxsOm5vbmU7IiAvPiA8cGF0aCBkPSJNMTAsMCBMMTAsMjAiIHN0eWxlPSJzdHJva2U6IzBmMGUwYTsgc3Ryb2tlLXdpZHRoOiAxcHg7IGZpbGw6bm9uZTsiIC8+IDwvcGF0dGVybj48L2RlZnM+PHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjI4IiBoZWlnaHQ9IjI4IiByeD0iMCIgcnk9IjAiIHN0eWxlPSJzdHJva2U6IG5vbmU7IGZpbGw6IHVybCgjc3RyaXBlcyk7Ii8+PC9zdmc+") repeat !important;
    box-shadow: inset 0 0 42px 0 #000, 0 0 1.1em 0 rgba(0, 0, 0, 0.75), rgba(255, 255, 255, 0.2) 0 0px 0 3px;
    border-radius: 7px;
    margin-bottom: 15px;

    ion-toolbar .toolbar-background {
      background: rgba(27,26,21,0.6);
    }

    ion-toolbar, ion-toolbar .toolbar-background {
      border-top-left-radius: 7px;
      border-top-right-radius: 7px;
      padding: 0;
      min-height: initial;

      ion-icon[item-left] {
        margin-top: 10px;
      }
    }

    ion-toolbar .toolbar-title {
      padding: 0 12px;
      font-size: 1.8rem;
    }

    .ctrl-container {
      background: rgba(27,26,21,0.6);
      border-left: 1px solid #555;
      border-right: 1px solid #555;
    }

    .button {
      text-transform: none;
      border-radius: 3px;
      padding-right: 10px;
      margin: 0;
      opacity: 0.8;
      font-size: 1.3rem;
      border-width: 1px;
      white-space: normal;
      text-shadow: 1px 1px 1px #222,
                 -1px -1px 1px #222,
                 -1px 1px 1px #222,
                  1px -1px 1px #222;
    }

    .button-disabled {
      background-color: rgba(162, 135, 0, 0.25);
      border: 1px solid rgba(0, 0, 0, 0.68);
    }

    .bar-button-default {
      color: #fafafa;
    }

    ion-grid {
      padding: 0;
      background: transparent;
    }

    ion-grid .module-assembly ion-col {
      color: #d8d3c5;
      text-shadow: 1px 1px 5px #222,
               -1px -1px 5px #222,
               -1px 1px 5px #222,
                1px -1px 5px #222;
      background: rgba(123, 123, 95, 0.25);
    }

    ion-col {
      text-align: center;
      border-top: 1px solid #555;
    }

  }

}

ion-select {
  padding: 7px 14px 3px 7px;
  font-size: 1.7rem;
  max-width: initial;
  //height: 35px;
  margin-left: 5px;
  margin-right: 5px;
}

.select-placeholder, .select-icon, .select-icon-inner {
  color: #d8d3c5;
}

.select-icon {
margin-right: 15px;
font-size: 2.4rem !important;
}
