*~
*.sw[mnpcod]
*.geany
*.log
*.tmp
*.tmp.*
*.map
log.txt
*.sublime-project
*.sublime-workspace
.idea/
.sass-cache/
.versions/
governess-app/coverage/
dist/
governess-app/node_modules/
tmp/
temp/
governess-app/hooks/
governess-app/platforms/
governess-app/plugins/
governess-app/typings/
governess-app/www/build/

$RECYCLE.BIN/
.io-config.json
.DS_Store
Thumbs.db
UserInterfaceState.xcuserstate
.travis/travis_rsa.pem
