<ion-header>
  <ion-navbar dark>
    <button ion-button icon-only color="primary" menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title *ngIf="statusService.onlineCheck">
      <h1 [ngClass]="{'title-reduced' : status?.status === 'running' || status?.status === 'paused'}">EKA KF412 {{ status?.status }}</h1>
      <p *ngIf="statusService?.status === 'running' || status?.status === 'paused'">{{ config.taskActive }}</p>
    </ion-title>
    <ion-title *ngIf="!statusService.onlineCheck">
      <h1>EKA KF412 (offline)</h1>
    </ion-title>
    <ion-buttons end>
      <button ion-button icon-only color="primary" (click)="openHelp()">
        <ion-icon name="speedometer"></ion-icon>
      </button>
    </ion-buttons>
  </ion-navbar>


  <ion-grid dark class="control-display" style="border-top: 1px solid #3f3e3a">
    <ion-row>
      <ion-col [ngStyle]="{'border-color': 'rgba(201, 120, 25, 0.6)', 'color': '#c97819'}">
        <ion-grid class="icon-display">
          <ion-row>
            <ion-col width-10>
              <ion-icon name="thermometer"></ion-icon>
            </ion-col>
            <ion-col [ngStyle]="{'text-align': 'center', 'padding-left': '10px', 'background': 'rgba(11, 10, 6, 0.6)' }">
              <span class="value_major">
              {{ status?.temperature_major }}.
            </span>
            <span class="value_minor">
              {{ status?.temperature_minor }}
            </span>
            </ion-col>
            <ion-col width-10 class="unit">
              °C
            </ion-col>
          </ion-row>
        </ion-grid>
      </ion-col>
      <ion-col [ngStyle]="{'border-color': 'rgba(162, 48, 22, 0.59)', 'color': '#a23016'}">
        <ion-grid class="icon-display">
          <ion-row>
            <ion-col width-10>
              <ion-icon name="thermometer"></ion-icon>
            </ion-col>
            <ion-col [ngStyle]="{'text-align': 'center', 'padding-left': '10px', 'background': 'rgba(11, 10, 6, 0.6)' }">
              <span class="value_major">
              {{ status?.temperature_major }}.
            </span>
            <span class="value_minor">
              {{ status?.temperature_minor }}
            </span>
            </ion-col>
            <ion-col width-10 class="unit">
              °C
            </ion-col>
          </ion-row>
        </ion-grid>
      </ion-col>
      <ion-col width-10 class="icon-led">
        <ion-icon name="flame"></ion-icon>
      </ion-col>
      <ion-col width-10 class="icon-led">
        <ion-icon name="snow"></ion-icon>
      </ion-col>
      <ion-col width-10 class="icon-led" [ngStyle]="{'border-color': 'rgba(144, 73, 249, 0.6)'}">
        <ion-icon name="nuclear" [ngStyle]="{'color': 'rgb(144, 73, 249)', 'text-shadow': '0px 0px 25px rgba(109, 128, 6, 0.5), 0px 0px 25px rgba(109, 128, 6, 0.5)'}"></ion-icon>
      </ion-col>
      <ion-col width-10 class="icon-led">
        <ion-icon name="exit"></ion-icon>
      </ion-col>
    </ion-row>
  </ion-grid>

</ion-header>

<ion-content class="control" scroll="false">

  <div [ngSwitch]="config.ctrlMode" style="height: calc(100% - 48px)">

    <div *ngSwitchCase="'man'" style="height: 100%">
      <div class="chart-container">
        <chart [type]="'line'"
               [data]="lineChartData"
               [options]="lineChartOptions"
               [style.height]="chartHeight + 'px'">
        </chart>
      </div>
      <div class="ui-splitbar"></div>
      <ion-list style="height: 40%">
        <ion-item>
          <ion-range min="-273" max="2500" [(ngModel)]="singleValue" pin="true">
            <ion-icon small range-left name="thermometer"></ion-icon>
            <ion-icon range-right name="thermometer"></ion-icon>
          </ion-range>
        </ion-item>
        <ion-item>
          <ion-icon name="hand" item-left></ion-icon>
          <ion-label>
            <h2>Circulation</h2>
            <p></p>
          </ion-label>
          <ion-toggle></ion-toggle>
        </ion-item>
      </ion-list>
    </div>

    <div *ngSwitchCase="'auto'" style="height: 100%; padding: 0">
      <div class="chart-container" [style.height]="chartHeight + 'px'">
        <chart *ngIf="config.taskActive"
               [type]="'line'"
               [data]="lineChartData"
               [options]="lineChartOptions"
               [style.height]="chartHeight + 'px'">
        </chart>
        <div *ngIf="!config.taskActive" class="chart-empty">
          <p>Please select a Task to run</p>
        </div>
      </div>
      <div class="ui-splitbar"></div>
      <ion-grid dark class="control-actions">
        <ion-row *ngIf="status.status === 'running' || status.status === 'paused'">
          <ion-col width-25 class="progress-status">
            -04:20
          </ion-col>
          <ion-col style="padding-left: 0; padding-right: 2px;">
            <div class="progress">
              <div class="progress-bar" role="presentation">
                <span class="progress-value" style="width: 65%;">65%</span>
              </div>
            </div>
          </ion-col>
          <ion-col width-10 *ngIf="status.status === 'running'">
            <button ion-button full class="rb-yellow"
                    (click)="pauseTask()">
              <ion-icon name="pause"></ion-icon>
            </button>
          </ion-col>
          <ion-col width-10 *ngIf="status.status === 'paused'">
            <button ion-button full color="dark" class="rb-green-pulse"
                    (click)="restartTask()">
              <ion-icon name="skip-forward"></ion-icon>
            </button>
          </ion-col>
          <ion-col width-20 *ngIf="status.status === 'running' || status === 'paused'">
            <button ion-button full class="rb-red"
                    (click)="stopTask()">
              <ion-icon name="square"></ion-icon>
            </button>
          </ion-col>
        </ion-row>
        <ion-row *ngIf="status.status !== 'running' && status.status !== 'paused'">
          <ion-col style="padding-right: 3px;">
            <ion-select class="rb-glass"
                        [(ngModel)]="config.taskActive"
                        (ngModelChange)="triggerUpdate(config)"
                        [selectOptions]="{
                          title: 'EKA KF412 Tasks',
                          subTitle: 'Please select a Task'
                        }"
                        placeholder="Select a Task"
                        cancelText="Cancel"
                        okText="Select">
              <ion-option *ngFor="let task of tasks" value="{{ task.tid }}">
                {{ task.name }}
              </ion-option>
            </ion-select>

          </ion-col>
          <ion-col width-10 class="icon-edit">
            <button ion-button full class="rb-white"
                    [disabled]="!config.taskActive"
                    (click)="editTask()">
              <ion-icon name="create"></ion-icon>
            </button>
          </ion-col>
          <ion-col width-20>
            <button ion-button full class="rb-green"
                    [disabled]="!config.taskActive"
                    (click)="startTask()">
              <ion-icon name="play"></ion-icon>
            </button>
          </ion-col>
        </ion-row>
      </ion-grid>
    </div>

    <ion-list *ngSwitchCase="'cron'">
      <ion-item>
        08:00 - Run my day task
      </ion-item>
      <ion-item>
        22:00 - Run my night task
      </ion-item>
    </ion-list>

  </div>

</ion-content>

<ion-footer>
  <div class="ui-splitbar"></div>
  <ion-toolbar position="bottom" dark class="control-bottombar">
    <ion-segment [(ngModel)]="config.ctrlMode">
      <ion-segment-button value="cam" (ionSelect)="setMode('hud')">
        <ion-icon name="videocam"></ion-icon>
        <span class="segment-button-text">HUD</span>
      </ion-segment-button>
      <ion-segment-button small value="man" (ionSelect)="setMode('man')">
        <ion-icon name="hand"></ion-icon>
        <span class="segment-button-text">Manual</span>
      </ion-segment-button>
      <ion-segment-button value="auto" (ionSelect)="setMode('auto')">
        <ion-icon name="pulse"></ion-icon>
        <span class="segment-button-text">Auto</span>
      </ion-segment-button>
      <ion-segment-button value="cron" (ionSelect)="setMode('cron')">
        <ion-icon name="timer"></ion-icon>
        <span class="segment-button-text">Schedule</span>
      </ion-segment-button>
    </ion-segment>
  </ion-toolbar>
</ion-footer>
