/// Control Content

dashboard {

  background: #1f1e1aurl("../../assets/images/stripes.svg") repeat !important;

  ion-toolbar.control {
    border-top: 1px solid #444;
  }

  .title-reduced {
    font-size: 1.2rem;
  }

  .chart-empty {
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    background: rgba(31, 30, 26, 0.8);
  }

  .chart-empty p {
    font-size: 2.2rem;
    border: 1px solid #3f3e3a;
    padding: 15px;
    text-align: center;
    background: #2f2e2a;
  }

  ion-list {
    margin: 0;

    .item {
      border-top: 1px solid #3c3b38 !important;
      border-bottom: 1px solid #0f0e0a !important;
      text-shadow: -1px -1px 1px #1f1e1a, 1px -1px 1px #1f1e1a, -1px 1px 0 #1f1e1a, 1px 1px 0 #1f1e1a;
      background: #2f2e2a url("../../assets/images/noise.png") repeat;
    }

    ion-item:nth-of-type(even) {
      border-top: 1px solid #343330 !important;
      border-bottom: 1px solid #110f0b !important;
      background: #262521 url("../../assets/images/noise.png") repeat;
    }

    .item-inner {
      border-bottom: 0 !important;
    }

    ion-label {
      color: #d8d3c5 !important;
    }

    .select-text {
      color: rgb(117, 137, 12);
    }

    .select-icon {
      display: none;
    }

  }
}

/// Control Display

ion-grid.control-display {

  background: -moz-linear-gradient(top, #2f2e2a 0%, #1f1e1a 100%);
  background: -webkit-linear-gradient(top, #2f2e2a 0%,#1f1e1a 100%);
  background: linear-gradient(to bottom, #2f2e2a 0%,#1f1e1a 100%);
  padding: 0;

  ion-row {
    background: rgba(10, 9, 6, 0.2) url("../../assets/images/noise.png") repeat;
    padding-top: 4px;
    padding-bottom: 5px;
    padding-left: 5px;
  }

  ion-col {
    border: 1px solid #2f2e2a;
    text-align: center;
    font-size: 1.8rem;
    margin-right: 5px;
    vertical-align: middle;
    padding: 0;
  }

  .icon-display {
    text-align: left;
    margin:0;
  }

  ion-grid.icon-display {
    padding: 0;
  }

  ion-grid.icon-display ion-row {
    padding: 0;
    background: #1f1e1a;
  }

  ion-grid.icon-display ion-col {
    border: none;
    background: transparent;
    margin-right: 0;
  }

  .icon-display ion-icon {
    min-width: 20px;
    display: inline-block;
    text-align: center;
    margin: 0;
    line-height: 35px;
    vertical-align: top;
    //background: rgba(255, 125, 18, 0.32);
  }

  .icon-display .value_major {
    font-size: 2.5rem;
    display: inline-block;
    line-height: 1.4em;
  }

  .icon-display .value_minor {
    font-size: 1.65rem;
    display: inline-block;
    vertical-align: top;
    text-align: right;
    margin-top: 6px;
    margin-left: -5px;
  }

  .icon-display .unit {
    font-size: 1.6rem;
    display: inline-block;
    vertical-align: top;
    text-align: right;
    margin-top: 5px;
    min-width: 20px;
    text-align: center;
    margin: 0;
    line-height: 35px;
    vertical-align: top;
    //background: rgba(255, 125, 18, 0.32);
  }

  .icon-led {
    background: rgba(11, 10, 6, 0.6);
  }

  .icon-led ion-icon {
    text-align: center;
    font-size: 1.4em;
    line-height: 1.4em;
    color: #1F1E1A;
    text-shadow: 0px 0px 5px #000, 0px 0px 5px #000;
  }

}

/// Control Actions

ion-grid.control-actions {

  padding: 0;
  height: 43px;

  ion-row {
    background-color: rgba(25, 24, 20, 0.7);
    padding-right: 2px;
    height: 43px;
  }

  ion-col {
    height: 38px;
    min-width: 42px;
    margin-top: 0;
    padding: 3px;
  }

  ion-select {
    padding: 7px 14px 3px 9px;
    font-size: 1.7rem;
    max-width: initial;
    height: 35px;
    margin-left: 2px;
    margin-right: 0;
    color: #d8d3c5;
    font-size: 1.5rem;
    text-shadow: 0 1px 1px #000;
    border-width: 1px;
    border-radius: 0;
    border-style: solid;
    border-color: #44433f;
    border-bottom-color: #3a3935;
    box-shadow: inset 0 0 24px 0 #2f2e2c, 0 0 3px 0 #000000;
    background: linear-gradient(to bottom, #494744 0%, #2f2e2c 100%) !important;
  }

  .select-placeholder, .select-icon, .select-icon-inner {
    color: #2f2e2a;
  }

  .item-cover {
    width: 0 !important;
  }

  button {
    margin: 0;
    height: 35px;

    ion-icon {
      font-size: 1.5em;
    }
  }

  .progress-status {
    background-color: rgba(25, 24, 20, 0.7);
    border: 1px solid #3f3e3a;
    border-right: 0;
    margin-top: 3px;
    margin-left: 5px;
    padding-right: 0;
    height: 35px;
    line-height: 28px;
    text-align: center;
    font-size: 1.8rem;
    color: #75890c;
  }

  // ProgressBar

  .progress-bar {
    background-color: rgba(25, 24, 20, 0.7);
    height: 35px;
    padding: 2px;
    border: 1px solid #3f3e3a;
  }

  .progress-value {
    background: -moz-linear-gradient(top, rgba(140,168,0,0.6) 0%, rgba(109,128,6,0.7) 100%);
    background: -webkit-linear-gradient(top, rgba(140,168,0,0.6) 0%,rgba(109,128,6,0.7) 100%);
    background: linear-gradient(to bottom, rgba(140,168,0,0.6) 0%,rgba(109,128,6,0.7) 100%);
    display: block;
    height: 29px;
    line-height: 29px;
    text-align: center;
    border: 1px solid rgba(213, 255, 95, 0.2);
  }

}

/// Control Bottombar

ion-toolbar.control-bottombar {

  min-height: 5rem;
  padding-top: 0;

  .ion-segment-container {
    border-top: 1px solid #6f6e6a;
    background: #2f2e2a;
    background: -moz-linear-gradient(top, #2f2e2a 0%, #1f1e1a 100%);
    background: -webkit-linear-gradient(top, #2f2e2a 0%,#1f1e1a 100%);
    background: linear-gradient(to bottom, #2f2e2a 0%,#1f1e1a 100%);
  }

  ion-segment {
    background: rgba(10, 9, 6, 0.2) url("../../assets/images/noise.png") repeat;
    //background-color: rgba(10, 9, 6, 0.51);
    height: 50px;
  }

  .toolbar-background {
    background: -moz-linear-gradient(top, #23221f 0%, #1f1e1a 100%) !important;
    background: -webkit-linear-gradient(top, #23221f 0%,#1f1e1a 100%) !important;
    background: linear-gradient(to bottom, #23221f 0%,#1f1e1a 100%) !important;
  }

  ion-segment-button.segment-button {
    font-size: 1.4rem;
  }

  ion-segment-button.segment-button.segment-activated {
    border-color: rgba(117, 137, 12, 0.75);
    color: #d8d3c5;
    font-size: 1.7rem;
    text-shadow: -1px -1px 0 #1f1e1a, 1px -1px 0 #1f1e1a, -1px 1px 0 #1f1e1a, 1px 1px 0 #1f1e1a;
  }

  .segment-button-text {
    line-height: 3rem;
    height: 100%;
    display: inline-block;
    vertical-align: middle;
    padding-left: 5px;
  }

}

.alert-md .alert-radio-group, .alert-md .alert-checkbox-group {
    border-top: 1px solid #7f7e7a;
    border-bottom: 1px solid #7f7e7a;
}

@media (max-width: 420px) {
  .segment-button-text {
    display: none !important;
  }
}
