<ion-header>
  <ion-navbar dark>
    <button ion-button icon-only color="primary" menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>
      <h1 [ngClass]="{'title-reduced' : status.status === 'running' || status.status === 'paused'}">EKA KF412 {{status.status}}</h1>
      <p *ngIf="status.status === 'running' || status.status === 'paused'">{{config.taskActive}}</p>
    </ion-title>
    <ion-buttons end>
      <button ion-button icon-only color="primary" (click)="openHelp()">
        <ion-icon name="speedometer"></ion-icon>
      </button>
    </ion-buttons>
  </ion-navbar>

  <div class="control-splitbar"></div>

  <ion-grid dark class="control-display">
    <ion-row>
      <ion-col [ngStyle]="{'border-color': '#c97819', 'color': '#c97819'}">
        <ion-grid class="icon-display">
          <ion-row>
            <ion-col width-10>
              <ion-icon name="thermometer"></ion-icon>
            </ion-col>
            <ion-col [ngStyle]="{'text-align': 'center', 'padding-left': '10px'}">
              <span class="value_major">
              {{status.temperature_major}}.
            </span>
            <span class="value_minor">
              {{status.temperature_minor}}
            </span>
            </ion-col>
            <ion-col width-10 class="unit">
              °C
            </ion-col>
          </ion-row>
        </ion-grid>
      </ion-col>
      <ion-col [ngStyle]="{'border-color': '#a23016', 'color': '#a23016'}">
        <ion-grid class="icon-display">
          <ion-row>
            <ion-col width-10>
              <ion-icon name="thermometer"></ion-icon>
            </ion-col>
            <ion-col [ngStyle]="{'text-align': 'center', 'padding-left': '10px'}">
              <span class="value_major">
              {{status.temperature_major}}.
            </span>
            <span class="value_minor">
              {{status.temperature_minor}}
            </span>
            </ion-col>
            <ion-col width-10 class="unit">
              °C
            </ion-col>
          </ion-row>
        </ion-grid>
      </ion-col>
      <ion-col width-10 class="icon-led">
        <ion-icon name="flame"></ion-icon>
      </ion-col>
      <ion-col width-10 class="icon-led">
        <ion-icon name="snow"></ion-icon>
      </ion-col>
      <ion-col width-10 class="icon-led" [ngStyle]="{'border-color': 'rgb(109, 128, 6)'}">
        <ion-icon name="nuclear" [ngStyle]="{'color': 'rgb(109, 128, 6)', 'text-shadow': '0px 0px 25px rgba(109, 128, 6, 0.5), 0px 0px 25px rgba(109, 128, 6, 0.5)'}"></ion-icon>
      </ion-col>
      <ion-col width-10 class="icon-led">
        <ion-icon name="exit"></ion-icon>
      </ion-col>
    </ion-row>
  </ion-grid>

  <div class="control-splitbar"></div>

</ion-header>

<ion-content class="control" scroll="false">

  <div [ngSwitch]="config.ctrlMode" style="height: calc(100% - 48px)">

    <div *ngSwitchCase="'man'" style="height: 100%">
      <div class="chart-container" style="height: 60%">
        <canvas baseChart class="chart"
          [datasets]="lineChartData"
          [labels]="lineChartLabels"
          [options]="lineChartOptions"
          [colors]="lineChartColours"
          [chartType]="lineChartType"
          (chartHover)="chartHovered()"
          (chartClick)="chartClicked()">
        </canvas>
      </div>
      <div class="control-splitbar"></div>
      <ion-list style="height: 40%">
        <ion-item>
          <ion-label>Temperature</ion-label>
          <ion-range min="-273" max="2500" [(ngModel)]="singleValue" pin="true">
            <ion-icon small range-left name="thermometer"></ion-icon>
            <ion-icon range-right name="thermometer"></ion-icon>
          </ion-range>
          <ion-toggle></ion-toggle>
        </ion-item>
        <ion-item>
          <ion-icon name="hand" item-left></ion-icon>
          <ion-label>
            <h2>Circulation</h2>
            <p></p>
          </ion-label>
          <ion-toggle></ion-toggle>
        </ion-item>
      </ion-list>
    </div>

    <div *ngSwitchCase="'auto'" style="height: 100%; padding: 0">
      <div class="chart-container" style="height: calc(100%)">
        <canvas baseChart class="chart"
          *ngIf="config.taskActive"
          [datasets]="lineChartData"
          [labels]="lineChartLabels"
          [options]="lineChartOptions"
          [colors]="lineChartColours"
          [chartType]="lineChartType"
          (chartHover)="chartHovered()"
          (chartClick)="chartClicked()">
        </canvas>
        <div *ngIf="!config.taskActive" class="chart-empty">
          <p>Please select a Task to run</p>
        </div>
      </div>
      <div class="control-splitbar"></div>
      <ion-grid dark class="control-actions">
        <ion-row *ngIf="status.status === 'running' || status.status === 'paused'">
          <ion-col width-25 class="progress-status">
            -04:20
          </ion-col>
          <ion-col style="padding-left: 0; padding-right: 2px;">
            <div class="progress">
              <div class="progress-bar" role="presentation">
                <span class="progress-value" style="width: 65%;">65%</span>
              </div>
            </div>
          </ion-col>
          <ion-col width-10 *ngIf="status.status === 'running'">
            <button ion-button full (click)="pauseTask()" class="rb-yellow">
              <ion-icon name="pause"></ion-icon>
            </button>
          </ion-col>
          <ion-col width-10 *ngIf="status.status === 'paused'">
            <button ion-button full color="dark" (click)="restartTask()" class="rb-green-pulse">
              <ion-icon name="skip-forward"></ion-icon>
            </button>
          </ion-col>
          <ion-col width-20 *ngIf="status.status === 'running' || status === 'paused'">
            <button ion-button full (click)="stopTask()" class="rb-red">
              <ion-icon name="square"></ion-icon>
            </button>
          </ion-col>
        </ion-row>
        <ion-row *ngIf="status.status === 'idle'">
          <ion-col style="padding-right: 3px;">
            <ion-select [(ngModel)]="config.taskActive"
                        class="rb-white"
                        placeholder="Select a Task"
                        [selectOptions]="{ title: 'EKA KF412 Tasks', subTitle: 'Please select a Task'}"
                        cancelText="Cancel"
                        okText="Select"
            >
              <ion-option *ngFor="let task of tasks">{{task.name}}</ion-option>
            </ion-select>
          </ion-col>
          <ion-col width-10 class="icon-edit">
            <button ion-button full [disabled]="!config.taskActive ? true : false" (click)="editTask()" class="rb-white">
              <ion-icon name="create"></ion-icon>
            </button>
          </ion-col>
          <ion-col width-20>
            <button ion-button full [disabled]="!config.taskActive ? true : false" (click)="startTask()" class="rb-green">
              <ion-icon name="play"></ion-icon>
            </button>
          </ion-col>
        </ion-row>
      </ion-grid>
    </div>

    <ion-list *ngSwitchCase="'cron'">
      Listing
    </ion-list>

  </div>

</ion-content>

<ion-footer>
  <div class="control-splitbar"></div>
  <ion-toolbar position="bottom" dark class="control-bottombar">
    <ion-segment [(ngModel)]="config.ctrlMode">
      <ion-segment-button value="cam" (ionSelect)="setMode('hud')">
        <ion-icon name="videocam"></ion-icon>
        <span class="segment-button-text">HUD</span>
      </ion-segment-button>
      <ion-segment-button small value="man" (ionSelect)="setMode('man')">
        <ion-icon name="hand"></ion-icon>
        <span class="segment-button-text">Manual</span>
      </ion-segment-button>
      <ion-segment-button value="auto" (ionSelect)="setMode('auto')">
        <ion-icon name="pulse"></ion-icon>
        <span class="segment-button-text">Auto</span>
      </ion-segment-button>
      <ion-segment-button value="cron" (ionSelect)="setMode('cron')">
        <ion-icon name="timer"></ion-icon>
        <span class="segment-button-text">Schedule</span>
      </ion-segment-button>
    </ion-segment>
  </ion-toolbar>
</ion-footer>
