<ion-header>
  <ion-navbar dark>
    <button ion-button icon-only color="primary" menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>Tasks</ion-title>
    <ion-buttons end>
      <button ion-button icon-only color="primary" (click)="openHelp()">
        <ion-icon name="cube"></ion-icon>
      </button>
    </ion-buttons>
  </ion-navbar>

  <ion-toolbar color="primary">
    <ion-searchbar (input)="searchInput($event)" (ionClear)="searchClear($event)"></ion-searchbar>
    <ion-buttons end>
      <button ion-button (click)="addTask()">
        <ion-icon name="ios-funnel" ></ion-icon>
      </button>
      <button ion-button (click)="addTask()">
        <ion-icon name="add" ></ion-icon>
      </button>
    </ion-buttons>
  </ion-toolbar>

</ion-header>

<ion-content class="task-list">
  <ion-list reorder="true" (ionItemReorder)="reorderTasks($event)">
    <ion-item-sliding *ngFor="let task of tasks; let p = index">
      <div ion-item [ngStyle]="{ 'background': task === config.taskActive ? 'rgba(117, 137, 12,1)' : 'transparent'}">
        <ion-icon *ngIf="task === config.taskActive" item-left name="checkbox"
          (click)="activateTask(task)"
          [ngStyle]="{ 'color': task === config.taskActive ? '#D8D3C5' : 'rgba(117, 137, 12, 0.75)'}">
        </ion-icon>
        <ion-icon *ngIf="task !== config.taskActive" item-left name="{{task.icon}}"
          (click)="activateTask(task)"
          [ngStyle]="{ 'color': task === config.taskActive ? '#D8D3C5' : 'rgba(117, 137, 12, 0.75)'}">
        </ion-icon>
        <div (click)="goToTaskDetail(task)">
          <h2>{{task.name}}</h2>
          <p>Runtime: ~5 Minutes</p>
          <p>Last changed: {{task.created | date: 'yyyy-MM-dd HH:mm'}}</p>
        </div>
      </div>
      <ion-item-options side="right">
        <button ion-button icon-only color="secondary" (click)="copyTask(p)">
          <ion-icon name="copy"></ion-icon>
        </button>
        <button ion-button icon-only color="danger" (click)="removeTask(p,task.name)">
          <ion-icon name="trash"></ion-icon>
        </button>
      </ion-item-options>
    </ion-item-sliding>
  </ion-list>

</ion-content>
