<ion-header>
  <ion-navbar dark>
    <button ion-button icon-only color="primary" menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>Tasks</ion-title>
    <ion-buttons end>
      <button ion-button icon-only color="primary" (click)="openHelp()">
        <ion-icon name="cube"></ion-icon>
      </button>
    </ion-buttons>
  </ion-navbar>

  <ion-toolbar color="primary">
    <ion-searchbar (input)="searchInput($event)" (ionClear)="searchClear($event)"></ion-searchbar>
    <ion-buttons end>
      <button ion-button (click)="addTask()">
        <ion-icon name="add" ></ion-icon>
      </button>
    </ion-buttons>
  </ion-toolbar>

</ion-header>

<ion-content class="task-list">
  <ion-list reorder="true" (ionItemReorder)="reorderTasks($event)">
    <ion-item-sliding *ngFor="let task of tasks; let p = index">
      <div ion-item [ngClass]="{ active: task.tid === config.taskActive }">
        <ion-icon *ngIf="task.constraints && task.tid !== config.taskActive" item-left name="checkmark-circle-outline"
          (click)="activateTask(task.tid)"
          [ngStyle]="{ 'color': 'rgba(117, 137, 12, 0.65)'}">
        </ion-icon>
        <ion-icon *ngIf="task.constraints && task.tid === config.taskActive" item-left name="checkmark-circle"
          (click)="activateTask(task.tid)"
          [ngStyle]="{ 'color': 'rgba(117, 137, 12, 1)'}">
        </ion-icon>
        <ion-icon *ngIf="!task.constraints" item-left name="radio-button-off"
          [ngStyle]="{ 'color': 'rgba(227, 85, 33, 0.61)'}">
        </ion-icon>
        <div tappable (click)="goToTaskDetail(task)">
          <h2>{{task.name}}</h2>
          <p><ion-icon name="time" item-left [ngStyle]="{ 'margin': '0'}"> {{calculateRuntime(task)}}</ion-icon></p>
          <p><ion-icon name="document" item-left [ngStyle]="{ 'margin': '0'}"> {{task.created | date: 'yyyy-MM-dd HH:mm'}}</ion-icon></p>
        </div>
      </div>
      <ion-item-options side="right">
        <button ion-button icon-only color="secondary" (click)="copyTask(p)">
          <ion-icon name="copy"></ion-icon>
        </button>
        <button ion-button icon-only color="danger" (click)="removeTask(p,task.name)">
          <ion-icon name="trash"></ion-icon>
        </button>
      </ion-item-options>
    </ion-item-sliding>
  </ion-list>

</ion-content>
