.tasks-page {
  .searchbar-input {
    background-color: #3f3e3a;
  }

  .task-list {
    background: rgb(40, 39, 35);
    ion-item-sliding, .item {
      background-color: transparent;
    }
  }
}

.task-detail-toolbar {
  border-bottom: 1px solid #2f2e2a;
}

.task-detail {

  background: #1f1e1a url("data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iNTA5IiBoZWlnaHQ9IjUwOSIgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIiB4bWxuczp4bGluaz0iaHR0cDovL3d3dy53My5vcmcvMTk5OS94bGluayI+IDxkZWZzPiA8cGF0dGVybiBpZD0ic3RyaXBlcyIgeD0iMCIgeT0iMCIgd2lkdGg9IjIwIiBoZWlnaHQ9IjIwIiBwYXR0ZXJuVW5pdHM9InVzZXJTcGFjZU9uVXNlIiBwYXR0ZXJuVHJhbnNmb3JtPSJyb3RhdGUoNDUpIj4gPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEwIiBoZWlnaHQ9IjIwIiByeD0iMCIgcnk9IjAiIHN0eWxlPSJzdHJva2U6IG5vbmU7IGZpbGw6ICMyZjJlMmE7Ii8+IDxyZWN0IHg9IjEwIiB5PSIwIiB3aWR0aD0iMTAiIGhlaWdodD0iMjAiIHJ4PSIwIiByeT0iMCIgc3R5bGU9InN0cm9rZTogbm9uZTsgZmlsbDogIzFmMWUxYTsiLz4gPHBhdGggZD0iTTIwLDAgTDIwLDIwIiBzdHlsZT0ic3Ryb2tlOiM1ZjVlNWE7IHN0cm9rZS13aWR0aDogMXB4OyBmaWxsOm5vbmU7IiAvPiA8cGF0aCBkPSJNMTAsMCBMMTAsMjAiIHN0eWxlPSJzdHJva2U6IzBmMGUwYTsgc3Ryb2tlLXdpZHRoOiAxcHg7IGZpbGw6bm9uZTsiIC8+IDwvcGF0dGVybj4gPC9kZWZzPiA8cmVjdCB4PSIwIiB5PSIwIiB3aWR0aD0iNTA5IiBoZWlnaHQ9IjUwOSIgcng9IjAiIHJ5PSIwIiBzdHlsZT0ic3Ryb2tlOiBub25lOyBmaWxsOiB1cmwoI3N0cmlwZXMpOyBvcGFjaXR5OiAwLjYiLz4gPC9zdmc+") repeat !important;

  .chart  {
    display: block;
    height: inherit;
    padding: 1rem;
    background: rgba(15, 14, 10, 0.7);
    box-shadow: inset 0 0 42px 0 #000;
  }

  .chart-label {
    color: red;
  }

  .chart-legend, .line-legend {
    list-style-type: none;
    margin-top: 5px;
    text-align: center;
    padding-left:0;

    li {
      display: inline-block;
      white-space: nowrap;
      position: relative;
      margin-bottom: 4px;
      border-radius: 5px;
      padding: 2px 2px 2px 60px;
      font-size: smaller;
      cursor: default;

      span {
        display: block;
        position: absolute;
        left: 0;
        top: 0;
        border-radius: 5px;
        padding: 5px;
        color: white;
      }
    }
  }

  .segment-splitbar {
    height: 10px;
    line-height: 1px;
    background-color: #282723;
    border-bottom: 1px solid #0f0e0a;
    border-top: 1px solid #3f3e3a;
    cursor: row-resize;
    text-align: center;
    justify-content: center;
    align-items: center;
    overflow: hidden;
  }

  .dragHandler {
    display: inline-block;
      height: 30px;
      width: 30px;
      position: relative;
      z-index: 999;
  }

  ion-segment {
    background: rgba(15, 14, 10, 0.7);
    box-shadow: inset 0 0 12px 0 #000;
  }

  .segment-button {
    border-bottom-width: 3px;
  }

  .segment-activated {
    border-color: rgba(117, 137, 12, 0.75);
    opacity: 1;
    height: 42px;
    color: #d8d3c5;
    font-size: 16px;
    text-shadow: -1px -1px 1px #0f0e0a, 1px -1px 1px #0f0e0a, -1px 1px 0 #0f0e0a, 1px 1px 0 #0f0e0a;
  }

  .mini-bar {

    padding-left: 0;

    button {
      border-radius: 0;
      height: 34px;
      margin: 0;
    }

    ion-col {
      padding: 0;
      padding-left: 4px;
    }

    .mb-input {
      padding: 0;
    }

    input {
      height: 34px;
      width: 32px;
      text-align: center;
      padding: 0 !important;
      background: rgba(117, 137, 12, 0.25);
      border: 1px solid rgba(117, 137, 12, 0.75);
      border-left: none;
      width: 100%;
    }

  }


  .action-button-col {
    width: 42px;
  }

  .action-button-col .button {
    min-width: 44px;
    min-height: 44px;
    border-width: 0;
    border-radius: 0;
  }

  .index {
    font-size: 20px;
    color: #282828;
    background-color: rgba(66, 66, 62, 0.36);
    width: 32px;
  }

  input {
    text-align: right;
    background: transparent;
    color: #d8d3c5 !important;
    font-size: 25px !important;
    width: 100%;
    padding-right: 10px !important;
  }

  .md-table .button {
      margin: 0;
  }

  .md-table input {
      border: 0;
  }

  table.md-table {
    text-align: center;
    border-collapse: collapse;
    width: 100%;
    margin: 0;
  }

  .md-table thead th {
    height: 30px;
    line-height: 25px;
    color: #efeeea;
    text-shadow: #3f3e3a 0 -1px 0;
  }

  .md-table thead td {
    height: 27px;
    line-height: 23px;
    border-top: 1px solid #777;
    border-right: 1px solid #313131;
    border-bottom: 1px solid #3f3e3a;
    vertical-align: middle;
    font-size: 16px;
  }

  .md-table thead tr td:first-child {
  }
  .md-table thead tr td:last-child {
    border-right: none;
  }
  .md-table tbody tr:nth-child(even) {
    background: rgba(29, 27, 21, 0.9);
  }
  .md-table tbody tr:nth-child(odd) {
    background: rgba(19, 17, 11, 0.9);
  }
  .md-table thead td:last-child {
    border-right: none;
  }
  .md-table tbody {
    font-size: 14px;
  }
  .md-table tbody th {
    text-align: left;
    padding-left: 8px;
    border-right: 1px solid #3f3e3a;
    border-bottom: 1px solid #3f3e3a;
  }
  .md-table tbody td {
    height: 20px;
    line-height: 20px;
    color: #efeeea;
    border-right: 1px solid #3f3e3a;
    border-bottom: 1px solid #3f3e3a;
    vertical-align: middle;
  }
  .md-table tbody td:last-child {
    border-right: none;
  }
  .md-table tfoot {
    font-size: 18px;
    height: 21px;
  }
  .md-table tfoot th {
    height: 21px;
    text-align: left;
    padding-left: 8px;
    border-right: 1px solid #3f3e3a;
  }
  .md-table tfoot td {
    height: 21px;
    border-right: 1px solid #3f3e3a;
    color: #efeaee;
  }
  .md-table tfoot td:last-child {
    border-right: none;
  }

}
