<ion-header>
  <ion-navbar dark class="task-detail-toolbar">
    <ion-title>{{task.name}}</ion-title>
    <ion-buttons end>
      <button primary big (click)="taskActionPopover($event)">
        <ion-icon name="cube"></ion-icon>
      </button>
    </ion-buttons>
  </ion-navbar>
</ion-header>

<ion-content class="task-detail" >

  <div class="chart-container" [ngStyle]="{'height': chartHeightAct+'px'}">
    <base-chart class="chart"
    [datasets]="lineChartData"
    [options]="lineChartOptions"
    [colors]="lineChartColours"
    [chartType]="'line'"
    (chartHover)="chartHovered()"
    (chartClick)="chartClicked()">
    </base-chart>
  </div>

  <div class="segment-splitbar">
    <span (pan)="dragSplitbar($event)" class="dragHandler">
      ...
    </span>
  </div>

  <div scrollY="true">

    <ion-segment [(ngModel)]="moduleView" >
      <ion-segment-button *ngFor="let module of data; let m = index" [value]="m"
      [ngStyle]="{'color': data[m].options.color,
                  'border-color': data[m].options.color,
                  'background': m === moduleView ? convertRGBA(data[m].options.color,0.1) : 'transparent' }">
        {{data[m].control}}
      </ion-segment-button>
    </ion-segment>

    <ion-grid *ngIf="!showMiniBar" class="mini-bar">
      <ion-row>
        <ion-col>
          <button full small dark
          (click)="data[moduleView].options.fill = !data[moduleView].options.fill; updateChart()"
          [ngClass]="{'rb-white': data[moduleView].options.fill}">
            <ion-icon name="color-fill"></ion-icon>
          </button>
        </ion-col>
        <ion-col>
          <button full small dark
          (click)="data[moduleView].show = !data[moduleView].show; updateChart()"
          [ngClass]="{'rb-white': data[moduleView].show}">
            <ion-icon name="eye"></ion-icon>
          </button>
        </ion-col>
        <ion-col>
          <button full small dark
          (click)="data[moduleView].options.yAxisID = data[moduleView].options.yAxisID === 'y-axis-1' ? 'y-axis-2' : 'y-axis-1'; updateChart()"
          [ngClass]="{'rb-white': data[moduleView].options.yAxisID === 'y-axis-2'}">
            <b>y2</b>
          </button>
        </ion-col>
        <ion-col>
          <button (click)="editStrokeWidth = !editStrokeWidth"
          [ngClass]="{'rb-green': editStrokeWidth}" full small dark>
            <ion-icon name="brush"></ion-icon>
          </button>
        </ion-col>
        <ion-col *ngIf="editStrokeWidth" class="mb-input">
          <input type="number" min="1" max="10" autocomplete="off"
          [(ngModel)]="data[moduleView].options.strokeWidth"
          (ngModelChange)="updateChart()"/>
        </ion-col>
        <ion-col>
          <button (click)="editPointSize = !editPointSize"
          [ngClass]="{'rb-green': editPointSize}" full small dark>
            <ion-icon name="disc"></ion-icon>
          </button>
        </ion-col>
        <ion-col *ngIf="editPointSize" class="mb-input">
          <input  type="number" min="0" max="25" autocomplete="off"
          [(ngModel)]="data[moduleView].options.pointRadius"
          (ngModelChange)="updateChart()"/>
        </ion-col>
        <ion-col>
          <button (click)="editTimeScope = !editTimeScope"
          [ngClass]="{'rb-green': editTimeScope}" full small dark>
            <ion-icon name="watch"></ion-icon>
          </button>
        </ion-col>
        <ion-col *ngIf="editTimeScope" class="mb-input">
          <input  type="number" min="0" max="25" autocomplete="off"
          [(ngModel)]="data[moduleView].options.pointSize"
          (ngModelChange)="updateChart()"/>
        </ion-col>
      </ion-row>
    </ion-grid>

    <table class="md-table">
      <thead>
        <tr>
          <td style="width: 42px; height: 42px;"
          [ngStyle]="{'color': data[moduleView].options.color}">
            <ion-icon name="color-palette"></ion-icon>
          </td>
          <td style="width: 110px">Time</td>
          <td style="width: 110px;">Target</td>
          <td>Slope</td>
          <td>Notes</td>
          <td style="width: 42px; height: 42px;">
            <ion-icon small name="switch"
            (click)="showMiniBar = !showMiniBar">
            </ion-icon>
          </td>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let point of data[moduleView].points; let p = index" >
          <td class="index">
            {{p+1}}
          </td>
          <td>
            <input type="number" required min="0" ng-min="data[moduleView].points[p-1][0]"
            [(ngModel)]="point[0]"
            (ngModelChange)="updateChart()"/>
          </td>
          <td>
            <input type="number" required
            [(ngModel)]="point[1]"
            (ngModelChange)="updateChart()"/>
          </td>
          <td>
            °C/s
          </td>
          <td>
            <input type="text"
            [(ngModel)]="data[moduleView].note"
            (ngModelChange)="updateChart()"/>
          </td>
          <td class="action-button-col">
            <button class="rb-red"
            (click)="dropPoint(data[moduleView].points, point)">
              <ion-icon name="trash"></ion-icon>
            </button>
          </td>
        </tr>
        <tr style="background: rgba(0,0,0,0.7) !important">
          <td class="index">
            <ion-icon name="arrow-round-forward"></ion-icon>
          </td>
          <td>
            <input type="number" />
          </td>
          <td>
            <input type="number" />
          </td>
          <td> °C/s</td>
          <td>
            <input type="text" value="" />
          </td>
          <td class="action-button-col">
            <button (click)="dropPoint(data[moduleView].points, point)">
              <ion-icon name="add"></ion-icon>
            </button>
          </td>
        </tr>
      </tbody>
    </table>
  </div>

</ion-content>
