<ion-menu [content]="content" side="left">
  <ion-header no-border color="primary">
    <ion-toolbar>
      <ion-title>Governess</ion-title>
    </ion-toolbar>
  </ion-header>

  <ion-content>
    <ion-list>
      <ion-item *ngFor="let p of pages"
                [ngClass]="{'selected': p.title === config.lastView}">
      <button *ngIf="p.title === config.lastView" class="noise" menuClose>
        <ion-icon item-left [name]="p.icon"></ion-icon>
        <span>{{ p.title | translate }}</span>
      </button>
      <button *ngIf="p.title !== config.lastView" (click)="openPage(p)" class="noise" menuClose>
        <ion-icon item-left [name]="p.icon"></ion-icon>
        <span>{{ p.title | translate }}</span>
      </button>
    </ion-item>
    </ion-list>
  </ion-content>

</ion-menu>

<!-- Disable swipe-to-go-back because it's poor UX to combine STGB with side menus -->
<ion-nav [root]="rootPage" #content swipeBackEnabled="false"></ion-nav>
