<ion-menu id="leftMenu" [content]="content" side="left">
  <ion-header no-border color="primary">
    <ion-toolbar>
      <ion-title>Governess</ion-title>
    </ion-toolbar>
  </ion-header>

  <ion-content>
    <ion-list>
      <ion-item *ngFor="let p of pages" style="padding: 0" >
      <button *ngIf="p.title === config.lastView" class="selected"
              ion-item menuClose>
        <ion-icon item-left [name]="p.icon"></ion-icon>
        {{ p.title | translate }}
      </button>
      <button *ngIf="p.title !== config.lastView"
              (click)="openPage(p)"
              ion-item menuClose>
        <ion-icon item-left [name]="p.icon"></ion-icon>
        {{ p.title | translate }}
      </button>
    </ion-item>
    </ion-list>
  </ion-content>

</ion-menu>

<!-- Disable swipe-to-go-back because it's poor UX to combine STGB with side menus -->
<ion-nav [root]="rootPage" #content swipeBackEnabled="false"></ion-nav>
