ion-app {
  font-family: "DIN" !important;
  background: #d8d3c5;
}

ion-navbar .toolbar-background, ion-menu .toolbar-background {
  background: #1f1e1a url("data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iNTA5IiBoZWlnaHQ9IjUwOSIgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIiB4bWxuczp4bGluaz0iaHR0cDovL3d3dy53My5vcmcvMTk5OS94bGluayI+IDxkZWZzPiA8cGF0dGVybiBpZD0ic3RyaXBlcyIgeD0iMCIgeT0iMCIgd2lkdGg9IjIwIiBoZWlnaHQ9IjIwIiBwYXR0ZXJuVW5pdHM9InVzZXJTcGFjZU9uVXNlIiBwYXR0ZXJuVHJhbnNmb3JtPSJyb3RhdGUoNDUpIj4gPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEwIiBoZWlnaHQ9IjIwIiByeD0iMCIgcnk9IjAiIHN0eWxlPSJzdHJva2U6IG5vbmU7IGZpbGw6ICMyZjJlMmE7Ii8+IDxyZWN0IHg9IjEwIiB5PSIwIiB3aWR0aD0iMTAiIGhlaWdodD0iMjAiIHJ4PSIwIiByeT0iMCIgc3R5bGU9InN0cm9rZTogbm9uZTsgZmlsbDogIzFmMWUxYTsiLz4gPHBhdGggZD0iTTIwLDAgTDIwLDIwIiBzdHlsZT0ic3Ryb2tlOiM1ZjVlNWE7IHN0cm9rZS13aWR0aDogMXB4OyBmaWxsOm5vbmU7IiAvPiA8cGF0aCBkPSJNMTAsMCBMMTAsMjAiIHN0eWxlPSJzdHJva2U6IzBmMGUwYTsgc3Ryb2tlLXdpZHRoOiAxcHg7IGZpbGw6bm9uZTsiIC8+IDwvcGF0dGVybj4gPC9kZWZzPiA8cmVjdCB4PSIwIiB5PSIwIiB3aWR0aD0iNTA5IiBoZWlnaHQ9IjUwOSIgcng9IjAiIHJ5PSIwIiBzdHlsZT0ic3Ryb2tlOiBub25lOyBmaWxsOiB1cmwoI3N0cmlwZXMpOyBvcGFjaXR5OiAwLjYiLz4gPC9zdmc+") repeat;
  box-shadow: inset 0 0 42px 0 #000;
}

.toolbar-title {
  color: #d8d3c5;
  font-weight: normal !important;
}

.toolbar-title h1 {
  margin: 0;
}

.toolbar-title p {
  color: rgba(134, 152, 43, 0.77);
  margin: 0;
}

ion-content {
  background-color: transparent !important;
  background: transparent;
}

ion-menu {
  background: #3f3e3a;
}

ion-menu button {
  background-color: transparent !important;
}

ion-menu ion-toolbar .toolbar-background {
    background: rgba(117, 137, 12, 0.75);
    box-shadow: none;
}

::-webkit-scrollbar,
*::-webkit-scrollbar {
  display: none;
}

// Rubber Buttons

// Green

@-webkit-keyframes pulse-green {
  from { background-color: #749a02; box-shadow: 0 0 9px #333; }
  50% { background-color: #91bd09; box-shadow: 0 0 18px #91bd09; }
  to { background-color: #749a02; box-shadow: 0 0 9px #333; }
}

@-moz-keyframes pulse-green {
  from { background-color: #749a02; box-shadow: 0 0 9px #333; }
  50% { background-color: #2f2e2a; box-shadow: 0 0 18px #91bd09; }
  to { background-color: #749a02; box-shadow: 0 0 9px #333; }
}

@keyframes pulse-green {
  from {
    background-color: #2f2e2a;
    box-shadow: inset 0 0 14px 0 #3f3e3a, 0 0 8px 0 #1f1e1a;
    border: 1px solid rgb(65, 65, 65);
  }
  50% {
    background-color: #79a30e;
    box-shadow: inset 0 0 20px 0 #61710b, 0 0 8px 0 #9db134;
    border: 1px solid #79a30e;
  }
  to {
    background-color: #2f2e2a;
    box-shadow: inset 0 0 14px 0 #3f3e3a, 0 0 8px 0 #1f1e1a;
    border: 1px solid rgb(65, 65, 65);
  }
}

.rb-green {
  color: #fafafa;
  box-shadow: inset 0 0 14px 0 #9db134, 0 0 8px 0 #9db134;
  border: 1px solid rgba(213, 255, 95, 0.5);
  background: #79a30e;
  background: -moz-radial-gradient(center, ellipse cover, #79a30e 0%, #75890c 90%, #75890c 90%);
  background: -webkit-radial-gradient(center, ellipse cover, #79a30e 0%,#75890c 90%,#75890c 90%);
  background: radial-gradient(ellipse at center, #79a30e 0%,#75890c 90%,#75890c 90%);
}

.rb-green-pulse {
  -webkit-animation-name: pulse-green;
  -webkit-animation-duration: 2s;
  -webkit-animation-iteration-count: infinite;
  -moz-animation-name: pulse-green;
  -moz-animation-duration: 2s;
  -moz-animation-iteration-count: infinite;
  animation-name: pulse-green;
  animation-duration: 2s;
  animation-iteration-count: infinite;
  text-shadow: 0 1px 1px rgba(65, 65, 65, 0.4);
}

// Red

.rb-red {
  color: #fff;
  text-shadow: 0 1px 1px rgba(65, 65, 65, 0.4);
  box-shadow: inset 0 0 14px 0 #82290e, 0 0 8px 0 #db4213;
  border: 1px solid #b73813;
  background: #db4213;
  background: -moz-radial-gradient(center, ellipse cover, #db4213 0%, #c93612 100%);
  background: -webkit-radial-gradient(center, ellipse cover, #db4213 0%,#c93612 100%);
  background: radial-gradient(ellipse at center, #db4213 0%,#c93612 100%);
}

.rb-yellow {
  color: #fff;
  text-shadow: 0 1px 1px rgba(65, 65, 65, 0.4);
  box-shadow: inset 0 0 14px 0 #db4213, 0 0 8px 0 #db4213;
  border: 1px solid rgba(255, 129, 92, 0.65);
  background: #dbb013;
  background: -moz-radial-gradient(center, ellipse cover, #dbb013 0%, #c69611 100%);
  background: -webkit-radial-gradient(center, ellipse cover, #dbb013 0%,#c69611 100%);
  background: radial-gradient(ellipse at center, #dbb013 0%,#c69611 100%);
}

.rb-white {
  color: #2f2e2a;
  box-shadow: inset 0 0 14px 0 rgba(88, 88, 88, 0.7), 0 0 8px 0 rgba(253, 253, 253, 0.4);
  border: 1px solid rgb(173, 171, 171);
  background: -moz-radial-gradient(center, ellipse cover, rgba(255,255,255,0.6) 0%, rgba(209,209,209,0.7) 100%);
  background: -webkit-radial-gradient(center, ellipse cover, rgba(255,255,255,0.6) 0%,rgba(209,209,209,0.7) 100%);
  background: radial-gradient(ellipse at center, rgba(255,255,255,0.95) 0%,rgba(209,209,209,0.7) 100%);
}

.rb-glass {
  color: #d8d3c5;
  font-size: 1.5rem;
  text-shadow: 0 1px 1px #000;
  box-shadow: inset 0 0 14px 0 #3f3e3a, 0 0 8px 0 rgba(255, 255, 255, 0.22);
  border: 1px solid rgba(255, 255, 255, 0.2);
  background: #2f2e2a;
  background-color: #2f2e2a;

}
