logs-page {

  .ion-segment-container {
    border-top: 1px solid #6f6e6a;
    background: #2f2e2a;
    background: -moz-linear-gradient(top, #2f2e2a 0%, #1f1e1a 100%);
    background: -webkit-linear-gradient(top, #2f2e2a 0%,#1f1e1a 100%);
    background: linear-gradient(to bottom, #2f2e2a 0%,#1f1e1a 100%);
  }

  ion-segment {
    background: rgba(10, 9, 6, 0.2) url("../assets/images/noise.png") repeat;
    //background-color: rgba(10, 9, 6, 0.51);
    height: 50px;
  }


  ion-textarea textarea.text-input {
      display: block;
      height: 100%;
      white-space: pre;
  }

}
