@font-face {
  font-family: "DIN";
  src: url("../assets/fonts/DIN.woff") format('woff');
  font-weight: 400;
  font-style: normal;
  font-stretch: normal;
  unicode-range: U+0020-F000;
}

.noise {
  background: transparent url("../assets/images/noise.png") repeat;
}

::-webkit-scrollbar,
*::-webkit-scrollbar {
  display: none;
}

ion-app {
  font-family: "DIN" !important;
  color: #d8d3c5;
}

ion-content {

  ion-item, .item, input {
    text-shadow: -1px -1px 1px #0f0e0a, 1px -1px 1px #0f0e0a, -1px 1px 0 #0f0e0a, 1px 1px 0 #0f0e0a;
    border-top: 1px solid #3c3b38;
    border-bottom: 1px solid #0f0e0a;
    background: #2f2e2a url("../assets/images/noise.png") repeat;
    box-shadow: none;

    .item-inner {
      border-bottom: 0 !important;
    }

  }

  ion-item:nth-of-type(even), ion-item-sliding:nth-of-type(even) .item {
    border-top: 1px solid #343330;
    border-bottom: 1px solid #110f0b;
    background: #262521 url("../assets/images/noise.png") repeat;
  }

  ion-item-divider {
    background: #1f1e1a !important;
    border-top: none !important;

    ion-label {
      color: #fff !important;
      font-size: 1.8rem;
    }
  }

  ion-item-options {
    border-bottom: 1px solid #0f0e0a !important;
  }

}

/*******************************************************************************
 * Main Left-Side Menu
 */

ion-menu {

  .toolbar-background {
    background: #1f1e1a !important;
    border-bottom: 1px solid #0f0e0a !important;
  }

  div.toolbar-title {
    padding: 0 12px !important;
  }

  .menu-inner {

    box-shadow: 0 0 25px rgba(0, 0, 0, 0.8) !important;

    ion-content {

      .item {

        border-top: 1px solid #3c3b38 !important;
        border-bottom: 1px solid #0f0e0a !important;
        background: #2f2e2a;
        padding: 0 !important;

        .item-inner {
          padding: 0 !important;
          border: none !important;
        }

        .label {
          margin: 0 !important;
        }

        button {
          font-size: 1.8rem;
          //line-height: 30px;
          text-align: left;
          color: #d8d3c5;
          text-shadow: -1px -1px 1px #0f0e0a, 1px -1px 1px #0f0e0a, -1px 1px 0 #0f0e0a, 1px 1px 0 #0f0e0a;
          padding-left: 0px;
          width: 100%;

          ion-icon {
            color: rgba(117, 137, 12, 0.9);
            margin-left: 15px;
            font-size: 2.8rem;
          }

          span {
            // meh hackish...
            position: relative;
            top: -4px;
            left: 2px;
          }
        }
      }

      .selected {
        color: #fafafa;
        border-top: 1px solid #53524d !important;
        background: #3f3e3a;
      }

    }
  }
}


ion-navbar .toolbar-background,
ion-navbar[dark],
.action-sheet-title {
  background: #1f1e1a url("../assets/images/stripes.svg") repeat;
  color: #d8d3c5 !important;
}

ion-navbar .toolbar-background {
  box-shadow: inset 0 0 42px 0 #000;
}

ion-navbar ion-buttons[end] {
  margin-right: .45em;
  button {
    font-size: 1.9rem;
    text-shadow: -1px 0 #1f1e1a,
                  0 1px #0f0e0a,
                  1px 0 #1f1e1a,
                  0 -1px #2f2e2a,
                  0 0 10px #000;
  }
}

.back-button.show-back-button {
  color: rgba(117, 137, 12, 0.75);
}

.back-button-icon-md {
  font-size: 3.4rem !important;
}

ion-content,
.action-sheet-container {
  background-color: #2f2e2a !important;
  background: #2f2e2a !important;
  background: linear-gradient(to bottom, #2f2e2a 0%,#1f1e1a 100%) !important;
  background: -moz-linear-gradient(top, #2f2e2a 0%, #1f1e1a 100%) !important;
  background: -webkit-linear-gradient(top, #2f2e2a 0%,#1f1e1a 100%) !important;
}

.action-sheet-container {
  padding: 0 !important;
  border: 1px solid #1f1e1a;
  box-shadow: 0 0 30px 0 rgba(0,0,0, 0.6);
}

.bar-button-menutoggle {
  color: #7e7b73;

  .button-inner {
    font-size: 1.7rem;
    text-shadow: -1px 0 #1f1e1a,
                  0 1px #1f1e1a,
                  1px 0 #1f1e1a,
                  0 -1px #1f1e1a,
                  0 0 15px #000;
  }
}

.bar-button-default-md {
  width: 47px;
  height: 47px;
}

.bar-button-md[icon-only] ion-icon {
  font-size: 3rem;
}

.toolbar-title h1, div.toolbar-title {
  padding: 0px 2px;
  color: #d8d3c5;
  font-weight: normal !important;
  font-size: 2.2rem;
  text-shadow: -1px 0 #1f1e1a,
                0 1px #1f1e1a,
                1px 0 #1f1e1a,
                0 -1px #1f1e1a,
                0 0 5px #1f1e1a;
}

.toolbar[primary] .toolbar-background {
  background: #75880c;
  box-shadow: none;
}

.toolbar[primary] .toolbar-title {
  color: #1f1e1a;
  font-size: 2.2rem;
}

.toolbar[primary] .toolbar-title {
  color: #1f1e1a;
  text-transform: uppercase;
  letter-spacing: 2px;
  font-style: italic;
  font-size: 4rem;
  text-rendering: optimizeLegibility;
  margin-left: 8px;
}

.toolbar-title h1 {
  margin: 0;
}

.toolbar-title p {
  color: rgba(134, 152, 43, 0.77);
  margin: 0;
}

.item-md ion-icon[item-left] + .item-inner, .item-md ion-icon[item-left] + .item-input {
  margin-left: 12px !important;
}

.item-md {
  padding-left: 20px !important;
}

ion-navbar ion-buttons[end] {
  margin-right: 0;
}


.action-sheet-button {
  color: rgba(117, 137, 12, 0.9) !important;
  border-top: 1px solid #3c3b38 !important;
  border-bottom: 1px solid #0f0e0a !important;
  background: transparent url("../assets/images/noise.png") repeat !important;
  text-shadow: -1px -1px 1px #0f0e0a, 1px -1px 1px #0f0e0a, -1px 1px 0 #0f0e0a, 1px 1px 0 #0f0e0a;
}

.action-sheet-selected {
  color: #d8d3c5 !important;
}

// Rubber Buttons

// Green

@-webkit-keyframes pulse-green {
  from { background-color: #749a02; box-shadow: 0 0 9px #333; }
  50% { background-color: #91bd09; box-shadow: 0 0 18px #91bd09; }
  to { background-color: #749a02; box-shadow: 0 0 9px #333; }
}

@-moz-keyframes pulse-green {
  from { background-color: #749a02; box-shadow: 0 0 9px #333; }
  50% { background-color: #2f2e2a; box-shadow: 0 0 18px #91bd09; }
  to { background-color: #749a02; box-shadow: 0 0 9px #333; }
}

@keyframes pulse-green {
  from {
    background-color: #2f2e2a;
    box-shadow: inset 0 0 14px 0 #3f3e3a, 0 0 8px 0 #1f1e1a;
    border: 1px solid rgb(65, 65, 65);
  }
  50% {
    background-color: #79a30e;
    box-shadow: inset 0 0 20px 0 #61710b, 0 0 8px 0 #9db134;
    border: 1px solid #79a30e;
  }
  to {
    background-color: #2f2e2a;
    box-shadow: inset 0 0 14px 0 #3f3e3a, 0 0 8px 0 #1f1e1a;
    border: 1px solid rgb(65, 65, 65);
  }
}

.rb-green {
  color: #fafafa !important;
  text-shadow: 0 1px 1px rgba(65, 65, 65, 0.4) !important;
  box-shadow: inset 0 0 24px 0 #606f11, 0 0 3px 0 #9db134 !important;
  border: 1px solid rgb(121, 144, 55) !important;
  background: #7eaa0f !important;
  background: -webkit-radial-gradient(center, ellipse cover, #7eaa0f 0%, #6d8006 100%) !important;
  background: -webkit-radial-gradient(center ellipse, #7eaa0f 0%, #6d8006 100%) !important;
  background: radial-gradient(ellipse at center, #7eaa0f 0%, #6d8006 100%) !important;
}

button[disabled].rb-green {
    color: #c5dc80 !important;
    box-shadow: none !important;
    text-shadow: 0 1px 1px rgba(0, 0, 0, 0.3) !important;
}

.rb-green-pulse {
  -webkit-animation-name: pulse-green;
  -webkit-animation-duration: 2s;
  -webkit-animation-iteration-count: infinite;
  -moz-animation-name: pulse-green;
  -moz-animation-duration: 2s;
  -moz-animation-iteration-count: infinite;
  animation-name: pulse-green;
  animation-duration: 2s;
  animation-iteration-count: infinite;
  text-shadow: 0 1px 1px rgba(65, 65, 65, 0.4) !important;
}

// Red

.rb-red {
  color: #fff !important;
  text-shadow: 0 1px 1px rgba(65, 65, 65, 0.4) !important;
  box-shadow: inset 0 0 14px 0 #82290e, 0 0 3px 0 #db4213 !important;
  border: 1px solid #b73813 !important;
  background: #db4213 !important;
  background: -moz-radial-gradient(center, ellipse cover, #db4213 0%, #c93612 100%) !important;
  background: -webkit-radial-gradient(center, ellipse cover, #db4213 0%,#c93612 100%) !important;
  background: radial-gradient(ellipse at center, #db4213 0%,#c93612 100%) !important;
}

.rb-red.activated {
  box-shadow: inset 0 0 14px 0 rgba(62, 62, 62, 0.77), 0 0 20px 0 #db4213 !important;
  border: 1px solid #cc2413 !important;
}

.rb-yellow {
  color: #fff !important;
  text-shadow: 0 1px 1px rgba(65, 65, 65, 0.4) !important;
  box-shadow: inset 0 0 14px 0 #db4213, 0 0 3px 0 #db6113 !important;
  border: 1px solid rgba(255, 129, 92, 0.65) !important;
  background: #dbb013 !important;
  background: -moz-radial-gradient(center, ellipse cover, #dbb013 0%, #c69611 100%) !important;
  background: -webkit-radial-gradient(center, ellipse cover, #dbb013 0%,#c69611 100%) !important;
  background: radial-gradient(ellipse at center, #dbb013 0%,#c69611 100%) !important;
}

.rb-yellow.activated {
  box-shadow: inset 0 0 14px 0 rgba(62, 62, 62, 0.77), 0 0 26px 0 #db6113 !important;
  border: 1px solid rgba(255, 129, 92, 0.85) !important;
}

.rb-white {
  color: #24231e !important;
  text-shadow: 0 1px 1px rgba(255, 255, 255, 0.4) !important;
  box-shadow: inset 0 0 24px 0 rgba(62, 62, 62, 0.77), 0 0 4px 0 rgba(236, 232, 219, 0.75);
  border: 1px solid #969696 !important;
  background: #dbb013 !important;
  background: -webkit-radial-gradient(center, ellipse cover, rgb(224, 219, 207) 0%, rgba(224, 219, 204, 0.7) 100%) !important;
  background: -webkit-radial-gradient(center ellipse, rgb(224, 219, 207) 0%, rgba(224, 219, 204, 0.7) 100%) !important;
  background: radial-gradient(ellipse at center, rgb(224, 219, 207) 0%, rgba(224, 219, 204, 0.7) 100%) !important;
}

button.rb-white.activated {
  box-shadow: inset 0 0 14px 0 rgba(62, 62, 62, 0.77), 0 0 16px 0 rgba(236, 232, 219, 0.75) !important;
  border: 1px solid #e9e1e1 !important;
}

button[disabled].rb-white {
  color: #fff;
  box-shadow: none;
  text-shadow: 0 1px 1px rgba(0, 0, 0, 0.3);
}

button.rb-glass {
  color: #d8d3c5;
  font-size: 1.5rem;
  text-shadow: 0 1px 1px #000;
  border-width: 1px;
  border-radius: 0;
  border-style: solid;
  border-color: #44433f;
  border-bottom-color: #3a3935;
  box-shadow: inset 0 0 24px 0 rgb(47, 46, 44), 0 0 3px 0 #000000;
  background: -webkit-linear-gradient(top, rgb(73, 71, 68) 0%, rgb(47, 46, 44) 100%) !important;
  background: linear-gradient(to bottom, rgb(73, 71, 68) 0%, rgb(47, 46, 44) 100%) !important;
}

button.rb-glass.activated {
  box-shadow: inset 0 0 2px 0 rgba(62, 62, 62, 0.77), 0 0 2px 0 rgba(236, 232, 219, 0.5) !important;
  border-color: #6f6e6a !important;
}

button.rb-glass.active {
  background: #2f2e2a !important;
  border-color: #e9e1e1 !important;
  color: #3f3e3a;
  text-shadow: 0 1px 1px #d8d3c5;
  box-shadow: inset 0 0 24px 0 rgba(62, 62, 62, 0.77), 0 0 3px 0 rgba(236, 232, 219, 0.75);
  border: 1px solid #969696 !important;
  background: #dbb013 !important;
  background: -webkit-radial-gradient(center, ellipse cover, rgb(224, 219, 207) 0%, rgba(224, 219, 204, 0.7) 100%) !important;
  background: -webkit-radial-gradient(center ellipse, rgb(224, 219, 207) 0%, rgba(224, 219, 204, 0.7) 100%) !important;
  background: radial-gradient(ellipse at center, rgb(224, 219, 207) 0%, rgba(224, 219, 204, 0.7) 100%) !important;
}

.ui-splitbar {
  height: 5px;
  line-height: 1px;
  background-color: #282723;
  border-bottom: 1px solid #0f0e0a;
  border-top: 1px solid #3f3e3a;
  cursor: row-resize;
  text-align: center;
  justify-content: center;
  align-items: center;
}

.modal-wrapper {

  border: 1px solid #2f2e2a;
  box-shadow: 0 0 50px 0 #000;

  ion-navbar .toolbar-background {
    box-shadow: inset 0 0 42px 0 #1f1e1a;
  }

  .toolbar-title {
    padding-left: 12px;
  }

  .help-content {
    background: #2f2e2a;
    padding: 15px;
    height: 100%;
    border-top: 1px solid #4f4e4a;
  }
}

.zero-res-list {
  display: block;
  margin: 58px;
  height: 100px;
  width: inherit;
  text-align: center;
  line-height: 100px;
  font-size: 1.8rem;
  border: 1px solid #3f3e3a;
  background: rgba(23, 21, 13, 0.8);
  box-shadow: inset 0 0 42px 0 #000;
}

.chart-container {
  background: #1f1e1a url("../assets/images/stripes.svg") repeat;
}

chart  {
  display: block;
  padding: 15px;
  background: rgba(15, 14, 10, 0.8);
  box-shadow: inset 0 0 42px 0 #000;
}

.chart-label {
  color: red;
}

.chart-legend, .line-legend {
  list-style-type: none;
  margin-top: 5px;
  text-align: center;
  padding-left:0;

  li {
    display: inline-block;
    white-space: nowrap;
    position: relative;
    margin-bottom: 4px;
    border-radius: 5px;
    padding: 2px 2px 2px 60px;
    font-size: smaller;
    cursor: default;

    span {
      display: block;
      position: absolute;
      left: 0;
      top: 0;
      border-radius: 5px;
      padding: 5px;
      color: white;
    }
  }
}

.alert-wrapper {
  background-color: #2f2e2a !important;

  .alert-radio-label {
   color: #d8d3c5;
  }

}


@media (max-width: 480px) {
  .minibar-button-txt {
    display: none !important;
  }
}
