<ion-header no-border>
  <ion-navbar dark>
    <button ion-button icon-only color="primary" menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>{{ 'TASKS' | translate }}</ion-title>
    <ion-buttons end>
      <button ion-button icon-only color="primary" (click)="openHelp()">
        <ion-icon name="cube"></ion-icon>
      </button>
    </ion-buttons>
  </ion-navbar>

  <ion-toolbar>
    <ion-searchbar (ionInput)="filterTasks($event)"
                   (ionClear)="clearFilter($event)"
                   placeholder="{{ 'FILTER' | translate }}"
                   autocorrect="off">
    </ion-searchbar>
    <ion-buttons end>
      <button ion-button (click)="addTask()">
        <ion-icon name="add" ></ion-icon>
      </button>
    </ion-buttons>
  </ion-toolbar>

</ion-header>

<ion-content class="task-list">
  <ion-list *ngIf="tasks?.length > 0" reorder="true" (ionItemReorder)="reorderTasks($event)">
    <ion-item-sliding *ngFor="let task of tasks; let p = index"
                      [ngClass]="{'odd-row': p % 2, 'active': task.tid === config.taskActive}">
      <div ion-item>
        <ion-icon *ngIf="task.constraints && task.tid !== config.taskActive"
                  (click)="activateTask(task.tid)"
                  [ngStyle]="{ 'color': 'rgba(117, 137, 12, 0.65)'}"
                  item-left name="checkmark-circle-outline">
        </ion-icon>
        <ion-icon *ngIf="task.constraints && task.tid === config.taskActive"
                  (click)="activateTask(task.tid)"
                  [ngStyle]="{ 'color': 'rgba(117, 137, 12, 1)'}"
                  item-left name="checkmark-circle">
        </ion-icon>
        <ion-icon *ngIf="!task.constraints"
                  [ngStyle]="{ 'color': 'rgba(227, 85, 33, 0.61)'}"
                  item-left name="radio-button-off">
        </ion-icon>
        <div (click)="goToTaskDetail(task)" class="task-list-item">
          <h2>{{ task.name }}</h2>
          <table>
            <tr>
              <td>
                <ion-icon name="time" item-left [ngStyle]="{ 'margin': '0'}">
                  {{ calculateRuntime(task) }}
                </ion-icon>
              </td>
              <td>
                <ion-icon name="document" item-left [ngStyle]="{ 'margin': '0'}">
                  {{ task.created | date: config.dateFormat }}
                </ion-icon>
              </td>
            </tr>
          </table>
        </div>
      </div>
      <ion-item-options side="right">
        <button ion-button icon-only color="secondary" (click)="copyTask(p)" class="rb-white">
          <ion-icon name="copy"></ion-icon>
        </button>
        <button ion-button icon-only color="danger" (click)="removeTask(p,task.name)" class="rb-red">
          <ion-icon name="trash"></ion-icon>
        </button>
      </ion-item-options>
    </ion-item-sliding>
  </ion-list>

  <div *ngIf="!filteredList && (!tasks || tasks.length === 0)" class="zero-res-list">
    {{ 'NO-TASKS' | translate }}
  </div>
  <div *ngIf="filteredList && (!tasks || tasks.length === 0)" class="zero-res-list">
    {{ 'NO-TASKS-MATCH' | translate }}
  </div>

</ion-content>
