tasks-page {

  ion-toolbar {
    border-top: 1px solid #77881b;
    border-bottom: 1px solid #1f1e1a;
    background: -moz-linear-gradient(top, rgba(117, 137, 12, 0.5) 0%, #0f0e0a 100%);
    background: -webkit-linear-gradient(top, rgba(117, 137, 12, 0.5) 0%,#0f0e0a 100%);
    background: linear-gradient(to bottom, rgba(117, 137, 12, 0.5) 0%,#0f0e0a 100%);

    .toolbar-background {
      background: rgba(117, 137, 12, 0.5) url("../../assets/images/noise.png") repeat;
    }

    .toolbar-content {
      margin: 3px;
    }

    button {
      color: #d8d3c5 !important;
      font-size: 2.4rem !important;
      text-shadow: -1px -1px 1px #3f3e3a, 1px -1px 1px #3f3e3a, -1px 1px 0 #3f3e3a, 1px 1px 0 #3f3e3a;
      margin: 0  !important;
    }
  }

  .searchbar-input {
    background-color: rgba(0, 0, 0, 0.3) !important;
    border-radius: 0 !important;
    padding: 6px 60px !important;
    color: #fafafa !important;
  }

  ion-searchbar {
    padding: 0 !important;
    padding-bottom: 3px !important;
    border: 1px solid #6b7b28;
    box-shadow: inset 0 0 22px 0 rgba(#0f0e0a, 0.4);
  }

  ion-searchbar button {
    color: #d8d3c5;
    font-size: 2.2rem;
  }

  .toolbar-md-primary .bar-button-clear-md, .toolbar-md-primary .bar-button-default-md, .toolbar-md-primary .bar-button-outline-md, .toolbar-md-primary .toolbar-title-md {
    color: #2f2e2a;
    font-size: 1.8em;
    height: 42px;
    width: 42px;
    margin-left: 3px;
  }

  .task-list {

    ion-label {
      margin: 8px 8px 8px 0;
      background: #1f1e1aurl("../../assets/images/stripes.svg") repeat;
      border: 1px solid #3f3e3a;
      box-shadow: inset 0 0 24px 0 #000, 0 0 7px 0 rgba(0,0,0,0.4);

      h2 {
        margin-top: 0;
        margin-bottom: 0;
        width: 100%;
        padding: 5px;
        background: rgba(23, 21, 13, 0.8);
        border-bottom: 1px solid #2f2e2a;
      }

      table {
        margin-left: 2px;
        font-size: 0.7rem;
        color: #9f9e9a;
        text-shadow: -1px 0 #000, 0 1px #000, 1px 0 #000, 0 -1px #000, 0 0 10px #000;
        td {
          padding: 2px;
          border-right: 1px solid #1f1e1a;

          ion-icon::before {
            color: rgba(117, 137, 12, 0.75);
          }
        }
      }
    }

    .list-md ion-item-options .button {
      width: 55px;
      height: 100%;
      margin: 0;
      border-left: 1px solid #1f1e1a;
    }

    ion-item-sliding.item-wrapper.active .item {
      border-top: 1px solid #4f4e4a;
    }

    .active {

      .item {
        background-color: #3f3e3a;
      }

      ion-label {
        box-shadow: inset 0 0 24px 0 #000, 0 0 16px 0 rgba(#9f9e9a,0.2);
        border: 1px solid #5f5e5a;
        border-bottom: 1px solid #5f5e5a !important;
      }

    }

    .item-md ion-icon[item-left] {
      font-size: 1.6em;
    }

    .list-md > .item-wrapper:last-child ion-label {
      border-bottom: 1px solid #3f3e3a;
    }

  }
}

task-detail-page {

  .task-detail-toolbar {
    border-bottom: 1px solid #1f1e1a;
  }

  .segment-splitbar {
    height: 10px;
    line-height: 1px;
    background-color: #282723;
    border-bottom: 1px solid #0f0e0a;
    border-top: 1px solid #3f3e3a;
    cursor: row-resize;
    text-align: center;
    justify-content: center;
    align-items: center;
    overflow: hidden;
  }

  .dragHandler {
    display: inline-block;
    height: 30px;
    width: 30px;
    position: relative;
    z-index: 999;
  }

  .ion-segment-container {
    border-top: 1px solid #2f2e2a;
    background: #2f2e2a;
    background: -moz-linear-gradient(top, #2f2e2a 0%, #1f1e1a 100%);
    background: -webkit-linear-gradient(top, #2f2e2a 0%,#1f1e1a 100%);
    background: linear-gradient(to bottom, #2f2e2a 0%,#1f1e1a 100%);
  }

  ion-segment {
    background: rgba(10, 9, 6, 0.2) url("../../assets/images/noise.png") repeat;
    height: 50px;
  }

  .segment-md .segment-button {
    height: 50px;
    line-height: 48px;
    border: 0;
    border-top-width: 2px;
    border-top-style: solid;
    text-transform: none !important;
    font-size: 1.6rem;

    ion-icon {
      line-height: 48px;
    }

    span {
      display: inline-block;
      line-height: 48px;
      position: relative;
      left: 5px;
      top: -3px;
    }
  }

  .segment-activated {
    opacity: 1;
    color: #d8d3c5;
    font-size: 1.8rem !important;
    text-shadow: -1px -1px 1px #1f1e1a, 1px -1px 1px #1f1e1a, -1px 1px 0 #1f1e1a, 1px 1px 0 #1f1e1a;
  }

  .mini-bar {

    border-top: 1px solid #3f3e3a;
    border-bottom: 1px solid #1f1e1a;
    padding-left: 0;

    button {
      height: 34px;
      margin: 0;
      padding: 0;
    }

    ion-col {
      padding: 0;
      padding-left: 5px;
    }

    .mb-input {
      padding: 0;
    }

    input {
      height: 34px;
      width: 32px;
      text-align: center;
      padding: 0 !important;
      background: rgba(117, 137, 12, 0.25);
      border: 1px solid rgba(117, 137, 12, 0.75);
      border-left: none;
      width: 100%;
    }

    input[color] {
      border: 1px solid red;
    }

    .minibar-button-txt {
      padding-left: 5px;
      text-transform: none;
    }

    ion-select {
      padding: 7px 14px 3px 9px;
      font-size: 1.7rem;
      max-width: initial;
      height: 34px;
      color: #d8d3c5;
      font-size: 1.5rem;
      text-shadow: 0 1px 1px #000;
      border-width: 1px;
      border-radius: 0;
      border-style: solid;
      border-color: #44433f;
      border-bottom-color: #3a3935;
      box-shadow: inset 0 0 24px 0 #2f2e2c, 0 0 3px 0 #000000;
      background: linear-gradient(to bottom, #494744 0%, #2f2e2c 100%) !important;

      .select-placeholder {
        color: #d8d3c5;
      }

      .select-icon-inner {
        color: #d8d3c5 !important;
      }
    }

  }

  .action-button-col {
    width: 42px;
  }

  .action-button-col .button {
    min-width: 44px;
    min-height: 44px;
    border-width: 0;
    border-radius: 0;
  }

  .index {
    font-size: 20px;
    color: #282828;
    background-color: rgba(66, 66, 62, 0.36);
    width: 32px;
  }

.popover-md .popover-content .item ion-list-header {
  background: #3f3e3a;
}

.data-grid {

  padding: 0;

  .icon-action::before {
    font-size: 2.4rem !important;
  }

  input {
    text-align: right;
    background: #1f1e1a;
    color: #d8d3c5;
    font-size: 25px;
    width: 100%;
    height: 36px;
    padding-right: 6px;
    border: 1px solid #2f2e2a;
    box-shadow: inset 0 0 42px 0 #0f0e0a, 0 0 16px 0 rgba(#0f0e0a, 0.5);
  }

  input:focus {
    border: 1px solid rgba(117, 137, 12, 0.5);
    box-shadow: inset 0 0 42px 0 #0f0e0a, 0 0 16px 0 rgba(117, 137, 12, 0.3);
  }

  .grid-head {
    border-top: 1px solid #2f2e2a;
    border-bottom: 1px solid #0a0a0a;
    background: #1f1e1aurl("../../assets/images/stripes.svg") repeat;
    color: #b5afa5;
    box-shadow: 0 0 16px 0 rgba(#0f0e0a, 0.9);

    ion-col {
      padding:0;
      margin: 0;
      height: 36px;
      line-height: 36px;
      text-align: center;
      border-right: 1px solid #2f2e2a;
      background: rgba(10, 9, 6, 0.5) url("../../assets/images/noise.png") repeat;

      ion-icon, span {
        background: linear-gradient(to bottom, rgba(#2f2e2a, 0.5) 0%, rgba(#1f1e1a, 0.5) 100%);
        width: 100%;
        font-size: 1.4rem;
      }

      ion-icon::before {
        font-size: 1.6rem;
        position: relative;
        left: -2px;
        top: 1px;
      }

      span {
        display: inline-block;
      }

    }
  }

  .data-points {

    .button {
      margin: 0;
      height: 34px;
    }

    ion-col {
      font-size: 1.6rem;
      border-bottom: 1px solid #0f0e0a;
    }

    span {
      line-height: 36px;
      font-size: 18px !important;
    }

    ion-icon {
      width: 100%;
      font-size: 1.4rem;
    }

    ion-icon::before {
      font-size: 1.6rem;
      position: relative;
      left: -2px;
      top: 1px;
    }
  }

}

}
